<div class="breadcrumbs">
<ul>
<li><a href="/JerryLocal/index.html">Home</a>&nbsp;&nbsp; &gt; &nbsp;</li>
<li>About us</li>
</ul>
</div>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
<p style="text-align: center;"><span style="font-size: 18pt; color: #000080;">Welcome to JerryLocal Dream World !!!!!</span></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="font-size: 14pt; font-family: verdana, geneva;">JerryLocal &nbsp;is fastest growing online market place showcasing remarkable products from the best shops around the New Zealand and helping buyer and seller &nbsp;on their life journey call online shopping.</span></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="font-size: 14pt; font-family: verdana, geneva;">Our mission is to become&nbsp;the planet&rsquo;s best &nbsp;shopping places to discover amazing thing, share, and shop and sell creative things, and to bring the best of offline shopping experience to the online space by connecting brands and products with people in interactive social way.</span></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="font-size: 14pt; font-family: verdana, geneva;">In simple Word, &ldquo;<strong>Make your dream comes true in shopping space</strong>&rdquo;.</span></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="font-size: 14pt; font-family: verdana, geneva;">We are based in Christchurch, have a small team who spends hours designing each new feature and obsess about the smallest details .</span></p>