 <div class="breadcrumbs"><a href="home.html">Home</a> &raquo; <span><%$vPageTitle%></span></div>
	<div class="clear"></div>
  <div class="listing-topbg"><%$vPageTitle%></div>
  <div class="listing-middbg">
  <%if $PageCode eq 'home'%>
  <div class="midd-banner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>Duis odio elit, posuere eu elementum et, pharetra sit amet nunc. Aliquam nec odio eros, i</span></div>
   <%/if%>
	<%include file="static/`$vPageCode`.tpl"%>
  </div>

  <div class="listing-bottbg"></div>
