<div class="main-containt">	
	<div class="container">
		<a href="<%$this->config->item('site_url')%>"><img src="<%$this->config->item('images_url')%>404.png" style="width: 100%;"/></a>					
	</div>
</div>