<div class="row">
  <div class="title-heading">Deals of The Day</div>
  <div id="owl-example" class="owl-carousel01">
    <%if $deal_arr['data']|@count gt '0'%>    
    <%foreach $deal_arr['data'] as $deal%>   
    <%assign var=pdetails value=$deal['get_product_details']%>    
    <div class="col-md-12">
      <%$this->general->ProductBlockGenerator($deal['td_mst_products_id'],$pdetails[0].mp_title,$pdetails[0].mp_regular_price,$pdetails[0].mp_sale_price,$pdetails[0].mp_rating_avg,$pdetails[0].mp_rating_avg,$pdetails[0].mp_stock,$pdetails[0].mp_difference_per,$pdetails[0].mp_date,$pdetails[0].mp_wishlist_state,$pdetails[0].mp_default_img)%>
    </div>
    <%/foreach%>
    <%/if%>    
  </div>
</div>
<%include file="midpart-center.tpl"%>      