<%assign var=banners value=$banner_arr['data'].get_fix_banner%>
<div class="banner-add">
  <div class="row">
  	<%if $banners|@count gt '0'%>    
  	  <%foreach $banners as $banner%>
  	    <%if $banner.mb_position eq 'Position-6'%>
  	    <div class="col-sm-6 col-md-6">
  	      <div class="box-banner"> <a href="#"><img class="img-responsive" alt="banner" src="<%$banner.mb_img_1%>"></a> </div>
  	    </div>
  	    <%/if%>
  	    <%if $banner.mb_position eq 'Position-7'%>
  	    <div class="col-sm-6 col-md-6">
  	      <div class="box-banner"> <a href="#"><img class="img-responsive" alt="banner" src="<%$banner.mb_img_1%>"></a> </div>
  	    </div>
  	    <%/if%>
  	  <%/foreach%>
  	<%/if%>
  </div>
</div>