<div class="col-md-12 col-lg-3 custom-banner">
  <%assign var=banners value=$banner_arr['data'].get_fix_banner%>
  <%if $banners|@count gt '0'%>    
    <%foreach $banners as $banner%>
      <%if $banner.mb_position eq 'Position-1'%>
        <a href="<%$banner.mb_link_1%>"><img src="<%$banner.mb_img_1%>" alt="jerry" class="img-responsive"></a>
      <%/if%>
      <%if $banner.mb_position eq 'Position-2'%>
        <a href="<%$banner.mb_link_1%>"><img src="<%$banner.mb_img_1%>" alt="jerry" class="img-responsive"></a>
      <%/if%>
      <%if $banner.mb_position eq 'Position-3'%>
        <a href="<%$banner.mb_link_1%>"><img src="<%$banner.mb_img_1%>" alt="jerry" class="img-responsive"></a>         
      <%/if%>
    <%/foreach%>
  <%/if%>
</div>
<div class="clear"></div>
<%include file="midpart-advertise-top.tpl"%>      
