<div class="main-containt">
<div class="container">
	<div class="row-fluid">
		<%$this->general->Breadcrumb('D','NEWS', $news_detail_arr[0]['mn_title'])%>     
	</div>
</div>
<div class="container">
	<div class="delivery-box">
		<h3><div class="row"><div class="col-sm-12">News Detail</div></div></h3>
		<div class="form-add">
			<div class="news-des">
				<h4><%$news_detail_arr[0]['mn_title']%><span class="pull-right"><%$news_detail_arr[0]['mn_date']%></span></h4>
				<p> <%$news_detail_arr[0]['mn_description']%></p>
			</div>


		</div>
	</div>

	</div>
</div>