<ul class="nav nav-tabs">
    <li <%if $data["vCurrentTab"] eq "deshboard"%>class="active"<%/if%>>
        <a href="<%$admin_url%>#<%$this->general->getAdminEncodeURL('dashboard/dashboard/admin_deshboard')%>|boardtype|<%'deshboard'|@base64_encode%>"  title="<%$this->lang->line('DASHBOARD_DESHBOARD')%>"><%$this->lang->line('DASHBOARD_DESHBOARD')%></a>
    </li>
    
</ul>