<table id="dashboard_detail_" class="jqgrid-subview" width="100%" cellpadding="2" cellspacing="2">
    <tr>
        <td width="35%" align="left"><strong><%$this->lang->line('DASHBOARD_TOTALUSER')%>: </strong></td>
        <td width="65%"><%$data['TotalUser']%></td>
    </tr>
     
</table>