<table id="dashboard_detail_10" class="jqgrid-subview" width="100%" cellpadding="2" cellspacing="2">
    <tr>
        <td width="35%" align="left"><strong><%$this->lang->line('DASHBOARD_TOTAL_USER')%>: </strong></td>
        <td width="65%"><%$data['Total_user']%></td>
    </tr>
    <tr>
        <td width="35%" align="left"><strong><%$this->lang->line('DASHBOARD_LIVE_USER')%>: </strong></td>
        <td width="65%"><%$data['live_user']%></td>
    </tr>
     
</table>