<table id="dashboard_detail_4" class="jqgrid-subview" width="100%" cellpadding="2" cellspacing="2">
    <tr>
        <td width="35%" align="left"><strong><%$this->lang->line('DASHBOARD_SUPER_ADMIN')%>: </strong></td>
        <td width="65%"><%$data['Admin']%></td>
    </tr>
    <tr>
        <td width="35%" align="left"><strong><%$this->lang->line('DASHBOARD_SITE_ADMIN')%>: </strong></td>
        <td width="65%"><%$data['Site_admin']%></td>
    </tr>
     
</table>