<div class=""> <!-- container -->
	<div id="thankyoumsg">
    <div class="delivery-box">
        <h3>
            <div class="row">
                <div class="col-sm-12">
                    <center>Thank You..!!</center><br>
                    <center><p> Your order has been successfully placed <a href="my-orders.html">Click here</a> to view your order summary.</p></center>
                </div>
            </div>
        </h3>        
    </div>
    </div>
</div>
