body{background:none!important;}
.form-row .form-label {padding-left:10px; color:#414141;}
#delivery_area h3.heading {
    background: #fff !important;
    height: auto;
    padding: 15px 0;color: #414141;
    border-bottom:solid 1px #c3c3c3;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
margin:0 1%;
width:98% !important;
position:relative;
}

#delivery_area form {
    float: none;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    position:relative;
    top:6px;
}
.form-row {padding:15px 0px; margin:0;}
.form_input.submit {padding-bottom:30px; padding-left:171px;}
#delivery_area input[type="text"] {border: 1px solid #e4e4e4;}


.form_input input[type="button"]{
    background: #333333;
    border: 1px solid #797979;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #F2F2F2;
    padding: 10px 20px;}
.title_issue_refund{margin-left:50px;}
.issue_form{width:100%; float:left;}
.form_input.submit .cancel-btn {
    background: #454E59;
    color: #FFFFFF;
    border: solid 1px #454E59;
    font-weight: normal;
}
.form_input.submit .accept-btn {
    background: #5CCDDE;
    color: #FFFFFF;
    border: solid 1px #5ccdde;
    font-weight: normal;
}