.single-row-view .row-fluid .span3{width:40% !important;}
.form-right-div{width:59% !important;}
body {background:none!important;}
.admin-fancy-body .main-content-div .heading h3 {
	background: #fff !important;
	height: auto;
	padding: 15px 0;
	color: #414141 !important;
	box-sizing: border-box;
	width:98%;
	margin:0 1%;
	line-height:normal!important;
	border-bottom:solid 1px #c1c1c1;
}
.heading {border:none!important;}

.frm-elem-block.frm-thclm-view form {
	float: none;
	width: 100%;
	background: #fff;
	margin: 0 auto;
	box-sizing: border-box;
}

#delivery_area input[type="text"] {border: 1px solid #e4e4e4;}

.frm-block-layout .box.gradient .title {background:none;border-color:transparent;}
.box .content {border:none;}
.chosen-container-single a.chosen-single, textarea, input[type="text"] {border-color: #e4e4e4;}
.ajax-content-div {margin-bottom:0px;}
.frm-block-layout .box.gradient .title h4, .settings-class .box .title h4{padding: 15px 0 0; font-size: 16px; color:#414141;}
.frm-block-layout .box .content{padding:0;}
.form-row{margin:0;}
.frm-ctrls-bar{background:none; border:none; margin:0;}
.bot-btn-rtl .action-dir-align, .bot-btn-rtl .action-btn-align{margin-left: 187px;}
.frm-ctrls-bar .btn-info{background: #5CCDDE; color: #FFFFFF; border: solid 1px #5ccdde; font-weight: normal;}
.frm-ctrls-bar #frmbtn_discard{background: #454E59; color: #FFFFFF; border: solid 1px #454E59; font-weight: normal;}
