<div class="main-containt">
  <div class="row-fluid">
    <div class="breadcrumbs">
      <div class="row-fluid">
        <!--<%$this->general->Breadcrumb('STORE',$about_store['iMstStoreDetailId']|cat:'|_A1B_|'|cat:$about_store['vStoreName'],'About Store')%>-->
        <%$this->general->Breadcrumb('STORE',$about_store['vStoreName']|cat:'|_A1B_|'|cat:$about_store['vStoreName'],'About Store')%>
      </div>
    </div>
    <div class="common-back">
      <h3>About Store</h3>
      <p><%$about_store.vAboutStore%></p>
    </div>
    <div class="clear"></div>    
  </div>
</div>