<div class="main-containt">
    <div class="row-fluid">
      <div class="breadcrumbs">
        <!--<%$this->general->Breadcrumb('STORE',$return_policy['iMstStoreDetailId']|cat:'|_A1B_|'|cat:$return_policy['vStoreName'],'Return Policy')%>-->
        <%$this->general->Breadcrumb('STORE',$return_policy['vStoreName']|cat:'|_A1B_|'|cat:$return_policy['vStoreName'],'Return Policy')%>
      </div>
    </div>
    <div class="common-back">
      <h3>Return Policy</h3>
      <p><%$return_policy.vReturnPolicy%></p>
    </div>
    <div class="clear"></div>    
</div>