@charset "utf-8";
/* CSS Document */
@media all and (max-width: 479px) and (min-width: 320px) {
.advanced-search { width: 80%;float: right;}
.advanced-search .form-search input { min-width: 100%; }
.logo-area {width: 98%;margin: 0 auto;}
.nav-header { position: relative; width: 100%; margin:0; float:left;}
.nav-header button.navbar { background: #f1592a;width:50px;min-height: 44px; float: left; margin: 0; position: absolute; top: -44px; left:15px; border-radius: 0; display:block;outline:none;border-radius:2px;}
button.navbar .icon-bar { display: block; width:98%; height:3px; border-radius:3px; background-color: #fff; margin:4px 1%;float: left;}
ul.mainnav { position: relative; top:0px; display: none; }
ul.mainnav.open { display: block; }
ul.mainnav>li { width: 100%; }
.mainnav li.level0 { border-left: none; border-top: 1px solid #dd3d0b; }
.mainnav li.level0:first-child { border-top: none; }
ul.mainnav li:hover>ul[class*=level] { position: relative; top: 0; width: 100%; }
.jerry-add-1{margin-top:10px;}
.woman-shoes-main{background:none;}
.col-40{width:100%; margin-bottom:30px; background:none;}
.woman-shoes-main .img-add{width:100%; display:block; margin-bottom:30px; background:#fff;}
.woman-shoes-main .img-add img{margin:0 auto;}
.woman-shoes{width:100%;}
.col-60{width:100%;}
.woman-shoes-main .owl-item:first-child .dealof-box{border:none;}
.logo{width:100%; float:none;}
.logo img{margin:0 auto;}
.banner-add{margin:0;}
.banner-add .box-banner{margin-top:30px;}
.title-heading{padding-left:0;}
.title-heading li{margin-top:20px;}
.title-heading li:first-child{margin-top:0;}
/*------------- top header ----------------*/
.top-header .box-right{display:none;}
.top-header .logo-user{display:block; margin:0; padding:0;}
.top-header .logo-user li:first-child{border-left:solid 1px #ccc;}
.top-header .logo-user li{border-right:solid 1px #ccc; list-style:none; position:relative; display:inline-block; padding:5px 10px;}
.top-header .logo-user li ul{display:none;}
.top-header .logo-user li:hover ul{border:solid 1px #ccc; background:#fff; margin:0; padding:0; position:absolute; left:0; top:30px; display:block; width:150px;}
.top-header .logo-user li:hover ul li:first-child{border-left:none;}
.top-header .logo-user li:hover ul li:last-child{border-bottom:none;}
.top-header .logo-user li:hover ul li{list-style:none; display:block; border-bottom:solid 1px #ccc; border-right:none;}
.top-header .logo-user li:hover ul li a{font-size:12px; color:#333;}
.top-header .logo-user li:hover ul li a:hover{opacity:0.8; text-decoration:none;}
.logo-area .block-cart{display:none;}
.banner-section .carousel-control.right{background:none;}
.banner-section .carousel-control.left{background:none;}
.block-cart .block-content{left:-5px; top:31px;}
.social-box-icon { text-align:center;}
.pagination-list {text-align: center;}
.pagination {width: 88%;float: none;margin: 0px auto;text-align: center;display: block;}
.short-bar {font-size: 20px;text-align: center;}
.shortby {float: none;margin-top: 15px;}
/*---My-cart---*/
.my-cart { width:100%;overflow-x:scroll;border:1px solid #ddd;padding:10px;}
}
@media all and (max-width: 749px) and (min-width: 479px) {
.advanced-search { width: 85%; }
.advanced-search .form-search input { min-width: 100%; }
.nav-header { position: relative; width: 100%; margin:0; float:left;}
.nav-header button.navbar { background: #f1592a; width: 50px; min-height: 44px; float: left; margin: 0; position: absolute; top: -44px; left: 0; border-radius: 0; display:block; }
button.navbar .icon-bar { display: block; width: 100%; height: 2px; border-radius: 1px; background-color: #fff; margin: 3px 0; float: left; }
ul.mainnav { position: relative; top:0px; display: none; }
ul.mainnav.open { display: block; }
ul.mainnav>li { width: 100%; }
.mainnav li.level0 { border-left: none; border-top: 1px solid #dd3d0b; }
.mainnav li.level0:first-child { border-top: none; }
ul.mainnav li:hover>ul[class*=level] { position: relative; top: 0; width: 100%; }
.jerry-add-1{margin-top:10px;}
.woman-shoes-main{background:none;}
.col-40{width:100%; margin-bottom:30px; background:#fff;}
.woman-shoes-main .img-add{width:50%;}
.woman-shoes{width:50%;}
.col-60{width:100%;}
.woman-shoes-main .owl-item:first-child .dealof-box{border:none;}
.logo{width:45%; float:left;}
.banner-add{margin:0;}
.banner-add .box-banner{margin-top:30px;}
.title-heading{padding-left:0;}
.title-heading li{margin-top:20px;}
.title-heading li:first-child{margin-top:0;}
}
@media all and (max-width: 991px) and (min-width: 750px) {
.advanced-search { width: 85%; }
.advanced-search .form-search input { min-width: 100%; }
.nav-header { position: relative; width: 100%; margin:0; float:left;}
.nav-header button.navbar { background: #f1592a; width: 50px; min-height: 44px; float: left; margin: 0; position: absolute; top: -44px; left: 0; border-radius: 0; display:block; }
button.navbar .icon-bar { display: block; width: 100%; height: 2px; border-radius: 1px; background-color: #fff; margin: 3px 0; float: left; }
ul.mainnav { position: relative; top:0px; display: none; }
ul.mainnav.open { display: block; }
ul.mainnav>li { width: 100%; }
.mainnav li.level0 { border-left: none; border-top: 1px solid #dd3d0b; }
.mainnav li.level0:first-child { border-top: none; }
ul.mainnav li:hover>ul[class*=level] { position: relative; top: 0; width: 100%; }
.jerry-add-1{margin-top:10px;}
.woman-shoes-main{background:none;}
.col-40{width:100%; margin-bottom:30px; background:#fff;}
.woman-shoes-main .img-add{width:37%;}
.woman-shoes{width:63%;}
.col-60{width:100%;}
.woman-shoes-main .owl-item:first-child .dealof-box{border:none;}
}
@media all and (max-width: 1200px) and (min-width: 992px) {
.advanced-search .form-search input { min-width: 360px; }
ul.mainnav>li.parent>a { padding-right: 18px; }
ul.mainnav>li>a { padding: 0 9px; }
/*.jerry-add-2 .inner strong{font-size:18px;}
	.jerry-add-1 .inner strong{font-size:18px;}*/
.jerry-add-1 { width: 32%; float: left; margin: 20px 0 0 0; }
.jerry-add-2 { width: 32%; float: left; margin: 20px 2% 0; }
.jerry-add-3 { width: 32%; float: left; margin: 20px 0 0 0; }
.col-60 { width: 50%; }
.col-40 { width: 50%; }
}
