@media (min-width:1200px) {
}
@media (min-width:992px) and (max-width:1199px) {
}
@media (min-width:980px) and (max-width:991px) {
.border img { width: 90% }
}
@media (min-width:768px) and (max-width:991px) {
}
@media (max-width:767px) {
}
@media (min-width:481px) and (max-width:640px) {
}
@media (min-width:361px) and (max-width:640px) {
.box-newletter .input-box { width: 290px; }
.box-newletter .input-box input { width: 200px; }
.social-box-icon { width: 45%; }
}
@media (max-width:480px) {
.box-newletter .input-box { width: 290px; }
.box-newletter .input-box input { width: 200px; }
.social-box-icon { width: 45%; }
}
@media (max-width:360px) {
.box-newletter .input-box { width: 290px; }
.box-newletter .input-box input { width: 200px; }
.social-box-icon { width: 45%; }
}
@media (max-width:321px) {
.box-newletter .input-box { width: 290px; }
.box-newletter .input-box input { width: 200px; }
.social-box-icon { width: 45%; }
}


