@charset "utf-8";
/* CSS Document */
/*--------------------- font face ---------------------*/
@font-face { font-family: 'latoblack'; src: url('../fonts/lato-black_1-webfont.eot'); src: url('../fonts/lato-black_1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-black_1-webfont.woff2') format('woff2'), url('../fonts/lato-black_1-webfont.woff') format('woff'), url('../fonts/lato-black_1-webfont.ttf') format('truetype'), url('../fonts/lato-black_1-webfont.svg#latoblack') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latoblack_italic'; src: url('../fonts/lato-blackitalic_1-webfont.eot'); src: url('../fonts/lato-blackitalic_1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-blackitalic_1-webfont.woff2') format('woff2'), url('../fonts/lato-blackitalic_1-webfont.woff') format('woff'), url('../fonts/lato-blackitalic_1-webfont.ttf') format('truetype'), url('../fonts/lato-blackitalic_1-webfont.svg#latoblack_italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latobold'; src: url('../fonts/lato-bold_1-webfont.eot'); src: url('../fonts/lato-bold_1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bold_1-webfont.woff2') format('woff2'), url('../fonts/lato-bold_1-webfont.woff') format('woff'), url('../fonts/lato-bold_1-webfont.ttf') format('truetype'), url('../fonts/lato-bold_1-webfont.svg#latobold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latobold_italic'; src: url('../fonts/lato-bolditalic_1-webfont.eot'); src: url('../fonts/lato-bolditalic_1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bolditalic_1-webfont.woff2') format('woff2'), url('../fonts/lato-bolditalic_1-webfont.woff') format('woff'), url('../fonts/lato-bolditalic_1-webfont.ttf') format('truetype'), url('../fonts/lato-bolditalic_1-webfont.svg#latobold_italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latoitalic'; src: url('../fonts/lato-italic_1-webfont.eot'); src: url('../fonts/lato-italic_1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-italic_1-webfont.woff2') format('woff2'), url('../fonts/lato-italic_1-webfont.woff') format('woff'), url('../fonts/lato-italic_1-webfont.ttf') format('truetype'), url('../fonts/lato-italic_1-webfont.svg#latoitalic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latolight'; src: url('../fonts/lato-light_1-webfont.eot'); src: url('../fonts/lato-light_1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light_1-webfont.woff2') format('woff2'), url('../fonts/lato-light_1-webfont.woff') format('woff'), url('../fonts/lato-light_1-webfont.ttf') format('truetype'), url('../fonts/lato-light_1-webfont.svg#latolight') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latolight_italic'; src: url('../fonts/lato-lightitalic_1-webfont.eot'); src: url('../fonts/lato-lightitalic_1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-lightitalic_1-webfont.woff2') format('woff2'), url('../fonts/lato-lightitalic_1-webfont.woff') format('woff'), url('../fonts/lato-lightitalic_1-webfont.ttf') format('truetype'), url('../fonts/lato-lightitalic_1-webfont.svg#latolight_italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latoregular'; src: url('../fonts/lato-regular_1-webfont.eot'); src: url('../fonts/lato-regular_1-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular_1-webfont.woff2') format('woff2'), url('../fonts/lato-regular_1-webfont.woff') format('woff'), url('../fonts/lato-regular_1-webfont.ttf') format('truetype'), url('../fonts/lato-regular_1-webfont.svg#latoregular') format('svg'); font-weight: normal; font-style: normal; }
/*  Generated by www.menucool.com/drop-down-menu  */


/* main menu
----------------------------*/
#ddmenu { display: block; width: 100%; }
#ddmenu ul { margin: 0; padding: 0;/* Alignment of each top-level menu items within the UL */ width: 1140px; background: #f1592a; display: inline-block; list-style: none; position: relative; z-index: 999999990; padding: 0px; }
#ddmenu li { margin: 0; padding: 0; font-size: 14px; display: inline-block; *display:inline;
zoom: 1; /*for IE6-7*/ position: relative; color: #fff; line-height: 44px; /*This determines the height of the menu*/ transition: background-color 0.2s; outline: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; padding: 0 11px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; border-left: 1px solid #dd3d0b !important; font-size: 15px; }
#ddmenu li:first-child { border-left: 0px solid #dd3d0b !important; }
#ddmenu>li.parent>a>span:before { position: absolute; top: 2px; right: -15px; content: "\f107"; font-family: FontAwesome; color: #fff; line-height: 100%; }
#ddmenu li.full-width { position: static; }
#ddmenu li.over { color: #FFF; background-color: #f93; }
#ddmenu li.over.no-sub { }
#ddmenu .top-heading { font-weight: normal; white-space: nowrap; margin: 0 22px; color: inherit; text-decoration: none; display: inline-block; outline: 0; cursor: pointer; }
/* links of top-heading */
#ddmenu li a, #ddmenu li a:link, #ddmenu li a:hover { color: inherit; }
#ddmenu li a:hover { text-decoration: underline; }
#ddmenu li a:focus { outline: 1px dotted #09F; }
/* caret(arrow icon) */
#ddmenu i.caret { color: inherit; left: -18px; width: 0; height: 0; overflow: hidden;/*for IE6*/ vertical-align: middle; margin-bottom: 2px; border-top: 4px solid;/*caret size is 4px now*/ border-right: 4px solid transparent; border-left: 4px solid transparent; display: inline-block; position: relative; }
/* sub-menu layout
----------------------------*/

#ddmenu .dropdown { width: auto; left: 0px; color: #000000; padding: 0; margin: 0; display: none; position: absolute; top: 100%; border: 1px solid #ddd; border-top: none; border-radius: 0 0 2px 2px; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12); }
#ddmenu li.full-width .dropdown { width: 100%; padding: 0; margin: 0; margin-left: -1px; /*Set to 0 if UL has no border*/ }
#ddmenu .offset300 { left: -300px; right: auto; }
#ddmenu .right-aligned { left: auto; right: 0px; }
#ddmenu li.over .dropdown { display: block; }
#ddmenu .dd-inner { text-align: center; padding: 20px; margin: 0px; background-color: #FFF; white-space: nowrap; font-size: 13px; line-height: 1.35; }
/* links in sub menu
----------------------------*/

#ddmenu .dropdown a { display: table-row; *display:block;
color: #444; line-height: 22px; text-decoration: none; padding: 0; }
#ddmenu .dropdown a:hover, #ddmenu .dropdown a:focus { text-decoration: underline; color: #09F; }
/* blocks within the sub-menu
-----------------------------*/
#ddmenu div.column { text-align: left; vertical-align: top;/*or middle*/ display: inline-block; *display:inline;
*zoom:1;
white-space: normal; width: 200px; padding: 0 30px; border-right: 1px solid #999; }
#ddmenu div.dd-inner div:last-child { border-right: none; }
#ddmenu div.column h3 { font-weight: 500; line-height: 1.1; margin-top: 12px; margin-bottom: 8px; font-size: 24px; }
#ddmenu .top-heading { text-transform: uppercase; }
#ddmenu div.column260 { width: 260px; }
#ddmenu div.column340 { width: 340px; }
/* useful when http://www.menucool.com/ddmenu/one-menu-for-all-pages */
#ddmenuLink { display: none; }
/*######## add additional styles for mobile-friendly responsive menu ########*/

#ddmenu div.menu-icon { display: none; /* hide menu icon initially */ }



/*styles for mobile*/
@media only screen and (max-width: 480px) {
#ddmenu li div.column.mayHide { display: none; }
/*override the original settings*/
#ddmenu ul { width: 100%; display: none; border-radius: 0; }
#ddmenu li { position: relative; display: block; font-size: 20px; text-align: left; border-bottom: 1px solid rgba(0,0,0,0.1); }
#ddmenu li.full-width { position: relative; }
#ddmenu li .dropdown { position: relative; *top:auto;/*for IE7*/
border: none; border-radius: 0; box-shadow: none; text-align: left; background-color: #FFF; }
#ddmenu .offset300 { left: 0; }
#ddmenu li.full-width div.dropdown { width: auto; }
#ddmenu .dd-inner { margin: 0; background: none; text-align: left; }
/*turn each column to list vertically instead of horizontally */
#ddmenu li div.column { width: auto; padding: 0; border: none; display: block; }
/*move the arrow icon to right*/
#ddmenu i.caret { position: absolute; left: auto; right: 14px; top: 19px; border-width: 5px; }
/* All the following are for the div.menu-icon (pure CSS) */
#ddmenu div.menu-icon { font-size: 32px;/*icon size*/ display: block; position: relative; width: 40px; height: 36px; text-align: center; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; background-color: #777; border-radius: 3px; margin-bottom: 6px; /*align the icon to the right*/ margin-left: auto; margin-right: 11px; }
#ddmenu div.menu-icon::before { content: ""; position: absolute; top: 0.25em; left: 4px; width: 1em; height: 0.125em; border-top: 0.375em double #F6F6F9; border-bottom: 0.125em solid #F6F6F9; box-sizing: content-box; }
#ddmenu div.menu-icon-active { background-color: #F6F6F9; }
#ddmenu div.menu-icon-active::before { border-color: #777; }
}