/*Back to top css*/

#back-to-top {
	
    background:#F5562B url(../../../images/btt.png) no-repeat center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
	border-radius:50%;
}
#back-to-top:hover {
    background:#F5562B url(../../../images/btt_hover.png) no-repeat center;
}
#back-to-top.show {
    opacity: 1;
}




.container{padding-left: 0px;}
/*.err{padding-left: 0px;}*/
.TAC{text-align: center;}
.TAL{text-align: left!important;}
ul.mainnav ul {padding: 0px; margin: 0px;}
ul.mainnav li ul[class*=level] ul li a{padding: 0px;}
/*.carousel-inner{height: 404px;}*/

/*Below Code for the alert Popup*/

.fancybox-skin {padding:15px 0px 0px!important;text-align: center;}
.fancybox-wrap {width:300px!important;}
.fancybox-inner {width:100%!important;}
h4.test_confirm_message {font-size:18px;color:#3a4b6b!important;}
.btn-align .btn_ok {background:#f1592a;border-radius: 0px 0px 2px 2px}
.btn-align a.common-btn {font-size:30px;color:#fff;font-family: 'latoregular';}
.btn-align .btn_cancel {background:#192f5a;border-radius: 0px 0px 2px 0px}
/*End of the code for the Popup*/
/*CSS For the Top[header] Portion - start */

.custom-banner img{width: 100%; margin-bottom: 4px;}
.fl{float: left;}
.fr{float: right;}
.main-logo{width: 270px;}
.right-of-logo{width: 570px; margin-left: 77px}
/*.cart-right{width: 225px;}*/

/*CSS For the Top[header] Portion - end */

@media only screen and (min-width:200px) and (max-width:350px) {
.right-of-logo {width: 100%;margin-left: 0px;}
.container{padding-left: 15px;}
.overflow_auto {overflow:auto;margin-bottom:30px;} 
.input-group .product-qty-control {width:46px;}

.delivery-form {width:auto;margin:auto;}
.mob-display {right:-55px!important;}
.payment-box {margin-bottom:20px;}
.paypal_paynow {width: 54px!important;top: 3px!important;}
.err-left input#cvv {width:100%!important;}
.delivery-box .inner-form {padding: 0px 12px 1px;}
.zoomtracker {display:none;}
a.add-to-card {float:none;}
.steve-madden {margin-top:20px;}
.product-main-image img {height:auto!important;}
.gst_no .gst_box {margin-bottom:10px;}
input.gst_upload {width:70%;}


#product_sendtofriend_form .send_to_friend {width:100%;}
.send_to_friend .form-list .field {width:100%;}

.products-list .item .inner-item .item-image, .products-list .item .inner-item .product-shop .product-name a {width:100%;}
.products-list .item .inner-item .product-shop .wrap-btn-prolist {position:relative;top:0px;right:0px;}


.totals td {text-align:left;}

.store_logo_fg {width: 100%!important;}

.top-header div.header_user_wlcm {float: none;border-right: none;padding: 0px;font-size: 16px;text-align: center;clear:both;}
.sitemap-blog ul li {width:100%;}

.career-page p .strong-txt {width:100%!important;}

.rating-bars {width:78px!important;}
.captcha-input, #resetcaptcha {margin-top:10px;}
.captcha-input {margin-left:0px!important;}
}

@media only screen and (min-width:351px) and (max-width:479px) {
.right-of-logo {width: 100%;margin-left: 0px;}
.container{padding-left: 15px;}
.overflow_auto {overflow:auto;margin-bottom:30px;} 
.input-group .product-qty-control {width:46px;}

.products-list .item .inner-item .item-image, .products-list .item .inner-item .product-shop .product-name a {width:100%;}
.products-list .item .inner-item .product-shop .wrap-btn-prolist {position:relative;top:0px;right:0px;clear:both;}

.zoomtracker {display:none;}
.product-main-image img {height:auto!important;}
.steve-madden {margin-top:20px;}
.steve-madden h2 {float:none;clear:both;}
a.add-to-card {float:none;}


.totals td {text-align:left;}

.delivery-form {width:auto;margin:auto;}

.err-left input#cvv {width:100%!important;}

.store_logo_fg {width: 100%!important;}

input.gst_upload {width:70%;}
.gst_no .gst_box {margin-bottom:10px;}

.top-header div.header_user_wlcm {float: none;border-right: none;padding: 0px;font-size: 16px;text-align: center;clear:both;}

.sitemap-blog ul li {width:100%;}

.career-page p .strong-txt {width:100%!important;}

.captcha-input, #resetcaptcha {margin-top:10px;}
.captcha-input {margin-left:0px!important;}

}

@media only screen and (min-width:480px) and (max-width:550px) {
.right-of-logo {width: 100%;margin-left: 0px;}
.main-logo {width: 100%;}
.container{padding-left: 15px;}
.overflow_auto {overflow:auto;margin-bottom:30px;} 
.input-group .product-qty-control {width:46px;}
.add-to-card, .add-to-wish {padding:4px 6px}
.dealof-box .addto-cart .add-to-card , .dealof-box .addto-cart .add-to-wish {padding:4px 5px;font-size:13px;}
.custom-banner img {margin-top:4px;}


.products-list .item .inner-item .item-image, .products-list .item .inner-item .product-shop .product-name a {width:100%;}
.products-list .item .inner-item .product-shop .wrap-btn-prolist {position:relative;top:0px;right:0px;clear:both;}

.zoomtracker {display:none;}
.product-main-image img {height:auto!important;}
.steve-madden {margin-top:20px;}
.steve-madden h2 {float:none;clear:both;}
a.add-to-card {float:none;}

.totals td {text-align:left;}

.delivery-form {width:auto;margin:auto;}

.err-left input#cvv {width:100%!important;}

.gst_no .gst_box {margin-bottom:10px;}

.top-header div.header_user_wlcm {float: none;border-right: none;padding: 0px;font-size: 16px;text-align: center;clear:both;}
.sitemap-blog ul li {width:100%;}

.captcha-input, #resetcaptcha {margin-top:10px;}
.captcha-input {margin-left:0px!important;}

}
@media only screen and (min-width:551px) and (max-width:639px) {
.right-of-logo {width: 100%;margin-left: 0px;}
.main-logo {width: 100%;}
.container{padding-left: 15px;}
.overflow_auto {overflow:auto;margin-bottom:30px;} 
.input-group .product-qty-control {width:46px;}
.custom-banner img {margin-top:4px;}

.products-list .item .inner-item .item-image, .products-list .item .inner-item .product-shop .product-name a {width:100%;}
.products-list .item .inner-item .product-shop .wrap-btn-prolist {position:relative;top:0px;right:0px;clear:both;}

.zoomtracker {display:none;}
.product-main-image img {height:auto!important;}
.steve-madden {margin-top:20px;}
.steve-madden h2 {float:none;clear:both;}
a.add-to-card {float:none;}

.totals td {text-align:left;}

.delivery-form {width:auto;margin:auto;}

.err-left input#cvv {width:100%!important;}

.gst_no .gst_box {margin-bottom:10px;}

.captcha-input, #resetcaptcha {margin-top:10px;}
.captcha-input {margin-left:0px!important;}


}
@media only screen and (min-width:640px) and (max-width:767px) {
.right-of-logo {width: 100%;margin-left: 0px;}
.main-logo {width: 100%;}
.container{padding-left: 15px;}
.overflow_auto {overflow:auto;margin-bottom:30px;} 
.input-group .product-qty-control {width:46px;}
.custom-banner img {margin-top:4px;}

.products-list .item .inner-item .item-image, .products-list .item .inner-item .product-shop .product-name a {width:100%;}
.products-list .item .inner-item .product-shop .wrap-btn-prolist {position:relative;top:0px;right:0px;clear:both;}


.zoomtracker {display:none;}
.product-main-image img {height:auto!important;}
.steve-madden {margin-top:20px;}
.steve-madden h2 {float:none;clear:both;}
a.add-to-card {float:none;}

.totals td {text-align:left;}

.delivery-form {width:auto;margin:auto;}

.err-left input#cvv {width:100%!important;}

.gst_no .gst_box {margin-bottom:10px;}

.captcha-input, #resetcaptcha {margin-top:10px;}
.captcha-input {margin-left:0px!important;}


}

@media only screen and (min-width:768px) and (max-width:979px){
.right-of-logo {width: 504px;margin-left: 0px;}
.advanced-search {width: 100%;}
.nav-header button.navbar {background: #F1592A none repeat scroll 0% 0%;width: 50px;min-height: 44px;float: left;margin: 0px;
    position: absolute;border-radius: 0px;display: block;right: 26px;top: -118px;left: auto;}
	.input-group .product-qty-control {width:46px;}
.custom-banner img {margin-top:4px;}


.products-list .item .inner-item .item-image, .products-list .item .inner-item .product-shop .product-name a {width:100%;}
.products-list .item .inner-item .product-shop .wrap-btn-prolist {position:relative;top:0px;right:0px;clear:both;}

.zoomtracker {display:none;}
.product-main-image img {height:auto!important;margin:0 auto;}
.steve-madden {margin-top:20px;}
.steve-madden h2 {float:none;clear:both;}
a.add-to-card {float:none;}

.err-left input#cvv {width:100%!important;}

.captcha-input {width:115px;}

}

@media only screen and (min-width:980px) and (max-width:1024px){
.right-of-logo {width: 508px;margin-left: 0px;}
.advanced-search {width: 100%;}
.nav-header button.navbar {background: #F1592A none repeat scroll 0% 0%;width: 50px;min-height: 44px;float: left;margin: 0px;
    position: absolute;border-radius: 0px;display: block;right: 131px;top: -107px;left: auto;}
	.input-group .product-qty-control {width:46px;}
.add-to-card, .add-to-wish {padding:4px 6px}
.dealof-box .addto-cart .add-to-card , .dealof-box .addto-cart .add-to-wish {padding:4px 5px;font-size:13px;}

.products-list .item .inner-item .item-image, .products-list .item .inner-item .product-shop .product-name a {width:100%;}
.products-list .item .inner-item .product-shop .wrap-btn-prolist {position:relative;top:0px;right:0px;clear:both;}

.err-left input#cvv {width:100%!important;}

.captcha-input {width:115px;}

}


/*TOP NAV*/

.mainnav .nav-column {
	float: left;
	padding: 0px 15px;
	
}

.mainnav .nav-column h3 {
    /*margin: 20px 0 10px 0;*/
	margin: 0px 0 10px 0;
	line-height: 18px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #372f2b;
	text-transform: uppercase;
}

.mainnav .nav-column h3.orange { color: #337ab7; margin-left: -15px}
.mainnav .nav-column h3.orange:hover { color: #23527c;}


.mainnav .nav-column li a {
	display: block;
	line-height: 26px;
	
	font-family: Helvetica, Arial, sans-serif;
	
	font-size: 13px;
	color: #888888;
}

.mainnav .nav-column li a:hover { color: #666666; }

ul.mainnav li ul[class*=level] ul li a:after{


    content: "";
    border-left: 4px solid transparent;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    display: inline-block;
    position: relative;
    right: -1px;
    -webkit-transition: all 100ms ease-out 0s;
    -moz-transition: all 100ms ease-out 0s;
    -ms-transition: all 100ms ease-out 0s;
    transition: all 100ms ease-out 0s;}
	
ul.mainnav li ul[class*=level] ul li a:hover:after {
    border-left-color: #000;
    right: -5px;}
	

.mainnav .nav-column h3:after {    content: "";
    border-left: 4px solid #000;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    display: inline-block;
    position: relative;
    right: -3px;
    -webkit-transition: right 100ms ease-out 0s;
    -moz-transition: right 100ms ease-out 0s;
    -ms-transition: right 100ms ease-out 0s;
    transition: right 100ms ease-out 0s;}
	
.mainnav .nav-column h3:hover:after {
    border-left-color: #000;
    right: -5px;}
	
.mainnav .nav-column h3.orange:after {    content: "";
    border-left: 4px solid #337ab7;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    display: inline-block;
    position: relative;
    right: -3px;
    -webkit-transition: right 100ms ease-out 0s;
    -moz-transition: right 100ms ease-out 0s;
    -ms-transition: right 100ms ease-out 0s;
    transition: right 100ms ease-out 0s;}
	
.mainnav .nav-column h3.orange:hover:after {
    border-left-color: #337ab7;
    right: -5px;}
	
.mainnav li.level0:last-child ul[class*=level] { right:auto!important;} 
/*TOP NAV END*/


/* CSS Added By JJ --- START */ 
.wish_list .item .inner-item .item-image .product-image {height: auto;}
.wish_list .product-shop { min-height: auto!important;}
a.remove_wishlist ,a.add_wish_list {cursor: pointer;}    
.out_of_stock {clear:both;}
.out_of_stock a {background: #ccc;padding: 5px 8px;color: #fff;margin-left: 5px;}
button.out_of_stock { background:#ccc; border:medium none; color:#fff; display:inline-block; font-family:"latobold"; font-size:18px; padding:4px 10px; }
.histogram-clubbing{
 border: 1px solid #848484;
 border-left: none;
 margin-left: 5px;
 text-indent: 15px;
 width: 8px;
 }
 .histogram-positive,
 .histogram-negative{
 height: 28px;
 line-height: 30px;
 }
 .histogram-neutral {
    height: 20px;
    line-height: 17px;
    margin-bottom: 13px;
    margin-top: 13px !important;
}
.rating-histogram-addon {
    position: relative;
    top: 10px;
    width: 41.6667%;
}

 .fk-float-left {float: left;}
 .newvd .rating-histogram { padding-left: 10px;}
 .rating-histogram { list-style-type: none;}
 .sellerRatingBreakup { width: auto;}
 .tmargin3 { margin-top: 3px;line-height: 20px;}

 .rating-bars{    
    background: #f2f2f2;
    width: 100px;
    display: inline-block;
    height: 14px;
    border: 1px solid #f2f2f2;
    vertical-align: bottom;
    zoom: 1;}

  .rating-bars .progress{
    background: #2271b2;
    border-color: #2271b2;
    background-repeat: repeat-x;
    height: 14px;
    border-radius: 0;
  }
  /*CSS for Invoice page */
.fleft {float:left;}
.fright {float:right;}
.clear {clear:both;}

h1.invoice_heading {font-size:28px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px;}
.seller {margin-right:15px;}
.seller, .buyer {width:310px;}
.address, .phone, .gts, .invoice_date, .invoice_number  {margin-bottom:20px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;}
.address span, .phone span, .gts span, .invoice_date span, .invoice_number span {font-weight:bold;}
.name {margin-bottom:20px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;font-size:13px;}
.product_detail h2 {margin-bottom:20px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;font-size:15px;}
.main {margin-bottom:20px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;font-weight:bold;}
.product_table {border:1px solid #c9c9c9;}
.product_table table th {font-weight:normal;font-style:normal;text-decoration:none;color:#333333;font-weight:bold;    padding-top: 8px;padding-left: 4px;padding-bottom:8px;}
.product_table table tr.bg_tr {background:#e4e4e4;}
.product_table table td {padding-bottom:10px;padding-top: 8px;padding-left: 4px;}
.prise h2 {font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;}
.query h2 {font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;}
    /*Invoice page css END */

 /*Search Field */
div.search_main_div{
    position: relative;
}
li.search_product {
    list-style: none;
    padding-bottom: 5px;
    padding-top: 5px;
    /*border-bottom: 1px solid #ccc;*/
}
li.seach_category {
    list-style: none;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    /*border-bottom: 1px solid #ccc;*/
}
li.seach_category span.cat_span{
    margin-left: 10px;
}
li.no_result {
    list-style: none;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    /*border-bottom: 1px solid #ccc;*/
}
li.search_product .image{
    margin-right: 10px;
}
ul.search_ul {
    padding: 0px;
    position: absolute;
    z-index: 99999;
    background: #fff;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing : border-box;
}
li.header_product {
    border-top: 1px solid #ccc;
    height: 5px;
    margin-top: 12px;
    list-style: none;
    overflow: visible;
}
li.header_product .text {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    padding: 0 5px;
    position: relative;
    top: -11px;
}

span.required {color: red;}

.order_table th{
    padding: 3px!important;
}
.order_table td {
    padding: 5px 5px!important;
}
.sub_ord_name {
    padding: 0px !important;
    width: 100%; 
}

.sub_ord_name .sub_ord_div {
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    width: 100%;
}
.sub_ord_name .sub_ord_div:last-child {
    border-bottom: 0px;
}
td.tot_amount {
    padding: 15px 15px!important;
}
table.data-table table {
    margin-bottom: 0px;
}
table.data-table table th{
    background: #F8f8f8;
}
table.notification-table th{
    padding:4px;
}
table.notification-table td{
    padding:6px 0px;
}
table.notification-table td p:first-child{
    color: gray;
}
span.required{
    color: red;
}
.err-left div.err {
    text-align: left;
}

/* CSS Added By JJ --- END   */



@media (min-width: 768px) {
.career-page .form-horizontal .control-label { padding-top:0px; font-weight:bold;}
}

#flycart_add_to_cart_0 span{color: #fff;}
.in-wishlist{background-color: orange;}

/*for the price filter left side*/
#slider-range,#slider-range span{cursor: pointer;}

#category ul li { padding-left:5px; }

/*Thank you page css*/
#thankyoumsg .delivery-box {height: 500px;}
#thankyoumsg .delivery-box .row {margin-top: 170px;}
#thankyoumsg .delivery-box h3{border-bottom: none;}

/*Below code for the seller registration block No.*/
.seller-registration .stepwizard-step {width: 25%;}

/*code for fb login*/
.contact-box .fb-link-btn {display: block;}
.order-total .row.static-info.align-reverse { margin:5px;}
.well.order-total { padding:10px;}
.order-total .static-info .name { margin-bottom:5px;}
.products-list .item .inner-item .product-shop .desc { margin:0px;}
.margin_space { margin-bottom:15px;}

/* For click on category item in search accordion menu*/
.selected-cat { color:#f1592a!important; }

/*for the text box border change*/
/*.contact-box input[type="text"],.contact-box input[type="email"],.captcha-input { border-radius: 4px;}*/
.form-control{border-radius: 0px;}
#resetcaptcha {padding: 8px 12px;}

/*For add to cart login page*/
.payment-box{min-height: 0px;}
.social-box-new{margin: 18px 0px;}

/*below code for invite friend via email on product detail page - start*/
.add-row-err { color:#c93605; font-size:13px; font-weight:500; padding-bottom:3px; padding-left:0 !important; padding-right:4px; padding-top:3px; }
/*below code for invite friend via email on product detail page - end*/


/*for the term of use link on signup popup - start*/
a.termsofuse,a.termsofuse:focus, a.termsofuse:visited{color: #f1592a;}
a.termsofuse:hover{text-decoration: underline!important; color: #f1592a;}
/*for the term of use link on signup popup - end*/

.intl-tel-input .err { position:absolute; }
.intl-tel-input { margin-bottom:10px; }

/*below code for the paynow paypal image*/
.paypal_paynow{position: absolute;  width: 100px; top: -9px;}
.paypal_paynow img{width: 100%;}
/*below code for the paynow paypal image - end*/
.max350{max-width: 350px}

/*for store page*/
.sellermsg{  width: 80%;margin: 0 auto;margin-top: 10px;float: left;margin-left: 15px;}
/*for store page*/

#cancel_order_form .err { text-align:left; }

/*Below code for the return order id on order detail page - start*/
.returnid{float: right; margin-right: 15px; margin-top: 5px;}
/*Below code for the return order id on order detail page - end*/

.mob-display { display:none;}
@media (max-width: 767px) {
.mob-display { display:block;}
.web-display { display:none;}
}


/* Style for Media Query By JJ */


@media (max-width: 480px) {
   .panel-heading .order-detail-box-h .text-right {
       text-align: left;
   }
   .panel-heading .order-detail-box-h .text-right .strong-txt{
       width: 40%;
   }
}

@media (max-width: 640px) {
   .panel-heading .order-detail-box-h .text-right {
       text-align: left;
   }
   .panel-heading .order-detail-box-h .text-right .strong-txt{
       width: 50%;
   }

   .delivery-box .faq-wrap .faqs-label {
       width: auto;
       display: none;
   }
   .delivery-box .faq-wrap .all-faq {
       margin-left:0px;
       width: 100%;
   }
}

@media (max-width: 1024px) {
   .panel-heading .order-detail-box-h .text-right {
       text-align: left;
   }
   .panel-heading .order-detail-box-h .text-right .strong-txt{
       width: 50%;
   }

   .delivery-box .faq-wrap .faqs-label {
       width: auto;
       display: none;
   }
   .delivery-box .faq-wrap .all-faq {
       margin-left:0px;
       width: 100%;
   }
}

.shipping_addr h3 {border:none;padding:0px;margin:0px;}
.store_logo_fg {width:200px;}
.store_logo_fg img {width:100%;height:100%;}

div.header_user_wlcm {
  float:right;
  border-right:1px solid #ccc;
  padding-right:5px;
  padding:5px 9px;
  font-size: 16px;
}
div.header_user_wlcm span{
  color: #f1592a;
}

.cart-table th{text-transform:none!important;}
#wishlist_count{  width: auto;
  float: none;
  margin-left: 8px;
}
.btn-Pending-SA{background: #FFA80A;font-size: 13px;color: #fff;}
.static-info .name-total small{ font-size: 60%; }



/*Below code for the seller static page*/
@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
.clear {clear:both;}
.fl {float:left;}
.fr {float:right;}
body {font-family: 'Lato', sans-serif;}
.header-fg {padding:14px 0px;background: #fff;}
.header-fg .login_but .btn-primary {border:none;border-radius:0px;background:#ee5b27;margin-right:35px;margin-top:15px;}
.header-fg .signup_but .btn-primary {border:none;border-radius:0px;background:#192e5b;margin-top:15px;}
.sell_online h2, .risk h2 {font-size:28px;font-weight:700;margin-bottom:54px;}
.sell_online {padding:60px 0px;background: #fff;}
.sell_online .blocks {text-align:center;}
.sell_online .blocks .indi_block_name {font-size:16px;font-weight:400;color:#3a3a3a;margin-top:20px;}
.sell_online .blocks .indi_block img {width:107px;height:107px;/*background:#a973bf;*/margin:0 auto;border-radius:50%;text-align:center;vertical-align:middle;position:relative;}
.sell_online .blocks img {position: absolute;/*left: 50%;*/margin-left: -27px;top: 50%;margin-top: -27px;}
.sell_online .blocks .indi_block_receve img {width:107px;height:107px;/*background:#d9660b;*/margin:0 auto;border-radius:50%;text-align:center;vertical-align:middle;position:relative;}

.sell_online .blocks .indi_block_service img{width:107px;height:107px;/*background:#7a9814;*/margin:0 auto;border-radius:50%;text-align:center;vertical-align:middle;position:relative;}
.sell_online .blocks .indi_block_payment img{width:107px;height:107px;/*background:#f0ba00;*/margin:0 auto;border-radius:50%;text-align:center;vertical-align:middle;position:relative;}
.sell_online .blocks .indi_block_payment img{/*margin-left:-15px;*/}


.risk {background:#f4f4f4;padding:60px 0px;background: #fff;}
.risk .risk_img {width:10%;}
.risk .risk_content {width:88%;margin-left:10px;margin-bottom:50px;}
.risk .risk_content .risk_heading {font-size:16px;color:#202020;font-weight:600;}
.risk .risk_content .risk_text {color:#6f6f6f;font-size:15px;}

.testimonial {padding:60px 0px;background: #fff;}
.testimonial .testi_block {background:url(../../images/testimonial.png) no-repeat top left;padding-left:114px;color:#424242;font-size:15px;font-weight:500;font-style:italic;line-height:26px;}

.footer {background:#282828;text-align:center;padding:37px 0px;border-top:4px solid #f4f4f4;color:#fff;}
.footer .question .heading {text-transform:uppercase;margin-bottom:14px;}
.footer .question .mail {margin-bottom:30px;}
.footer .question .mail span {color:#a4a4a4;}
.footer .question .foot_menu a {color:#a4a4a4;text-decoration:none;padding:0px 6px;border-right:1px solid #a4a4a4;}
.footer .question .foot_menu a:last-child {border:none;}
.white {background: #fff;}
/*End*/

/*Below code for seller registration form - start*/
.pa {position: absolute;}
.pr {position: relative;}
.seller_tips{top: 50%;margin-top: -7px;right: -10px;}
/*Below code for seller registration form - end*/

/*Below code for remove space between price and dreturn policy in product detail page*/
.product-page .price-availability-block{padding-bottom: 2px;margin-bottom: 2px;}
/*Above code for remove space between price and dreturn policy in product detail page*/


/*Below code for the tooltip  customization - start*/
.tooltipsy
{
    padding: 10px;
    max-width: 200px;
    color: #fff;
    background-color: #000;
    right:-131px;
    position:relative;
    top:65px;
    min-height: 80px;
}
.tooltipsy:before {    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 8px solid #000;
    content: "";
    position: absolute;
    left: -8px; }
/*Above code for the tooltip  customization - End*/
