
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.navbar {display: block;background:none;border:none;}
.navbar-toggle { background-color: #F1592A;border:none;border-radius:0px;margin:30px 0px 0px 0px;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{ background-color: #F1592A;border:none;border-radius:0px;margin:30px 0px 0px 0px;}
.navbar-default .navbar-toggle .icon-bar {background-color: #FFF;}
f.main-menu ul.navbar-nav li .w3_megamenu .dropdown a, .w3_megamenu .dropdown-menu a { color: #656565; }
.w3_megamenu .dropdown-menu > li > a { padding: 6px 15px; }
.w3_megamenu .navbar-nav > li > .dropdown-menu { margin-top:0px;background:#000 !important;}
.w3_megamenu i { color: #BFBFBF }
.w3_megamenu .dropdown-menu { box-shadow: none; border: 1px solid #efefef; padding: 0; }
.w3_megamenu .form-control { margin-top: 10px; border: 1px solid #efefef; }
.w3_megamenu .btn { margin: 10px 0 20px }
.w3_megamenu video { max-width: 100%; height: auto; }
.w3_megamenu iframe, .w3_megamenu embed, .w3_megamenu object { max-width: 100%; }
.w3_megamenu .google-map { width: 100%; border: 1px solid rgba(255, 255, 255, 0.5); min-height: 200px; }
.w3_megamenu div.google-map { background: rgba(255, 255, 255, 0.5); background: #ffffff; height: 200px; margin: 0 0 0px 0; width: 100%; }
#googlemaps img { max-width: none; }
.w3_megamenu .dropdown-menu .withoutdesc { margin-top: 0; padding: 15px 20px; display: block; text-align: left; text-transform: none; width: 100%; }
.w3_megamenu a:hover { text-decoration: none }
.w3_megamenu .dropdown-menu .withoutdesc ul li { padding: 3px 10px; }
.w3_megamenu .dropdown-menu .withoutdesc ul li:hover, .w3_megamenu .dropdown-menu .withoutdesc ul li:focus { color: #262626; text-decoration: none; background-color: #f5f5f5 !important }
.w3_megamenu .dropdown-menu .withoutdesc li:last-child { border-bottom: 0 solid #fff; }
/*.w3_megamenu .w3_megamenu-content.withdesc a:after { color: #CFCFCF; content: attr(data-description); display: block; font-size: 11px; font-weight: 400; line-height: 0; margin: 10px 0 15px; }*/
.w3_megamenu .dropdown-submenu { position: relative; }
.w3_megamenu .dropdown-submenu>.dropdown-menu { top: 0; left: 100%; margin-top: 0; margin-left: -1px; -webkit-border-radius: 0 6px 6px 6px; -moz-border-radius: 0 6px 6px 6px; border-radius: 0 6px 6px 6px; }
.w3_megamenu .dropdown-submenu:hover>.dropdown-menu { display: block; }
.w3_megamenu .dropdown-submenu>a:after { display: block; content: " "; float: right; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 5px 0 5px 5px; border-left-color: #cccccc; margin-top: 5px; margin-right: -10px; }
.w3_megamenu .dropdown-submenu:hover>a:after { border-left-color: #ffffff; }
.w3_megamenu .dropdown-submenu.pull-left { float: none; }
.w3_megamenu .dropdown-submenu.pull-left>.dropdown-menu { left: -100%; margin-left: 10px; -webkit-border-radius: 6px 0 6px 6px; -moz-border-radius: 6px 0 6px 6px; border-radius: 6px 0 6px 6px; }
.w3_megamenu p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; color: #656565; }
.w3_megamenu .nav, .w3_megamenu .collapse, .w3_megamenu .dropup, .w3_megamenu .dropdown { position: static; }
.w3_megamenu .half { width: 50%; left: auto !important; right: auto !important; }
.w3_megamenu .container { position: relative; }
.w3_megamenu .dropdown-menu { left: auto; }
.w3_megamenu .nav.navbar-right .dropdown-menu { left: auto; right: 0; }
.w3_megamenu .w3_megamenu-content { padding: 15px 25px;background:url(../images/menu-back.jpg) top left repeat-y;border-bottom:1px solid #d5d4d4;}
.w3_megamenu .dropdown.w3_megamenu-fw .dropdown-menu { left: 0; right: 0; }
.w3_megamenu .title { font-size:15px;font-family: 'Lato', sans-serif;font-weight:400;margin:0;padding:20px 0 10px 0;color:#f1592a;}
.w3_megamenu ul { list-style: none; padding: 0px; margin: 0px; border: none !important; }
.w3_megamenu ul li { list-style: none; padding: 0px; margin: 0px; border: none !important; }
.w3_megamenu ul li a { color: #000; }
.navbar { display: block; }
.main-menu { background: none; border-radius: 0px; min-height: 40px; margin-top: 20px; border: none; }
.main-menu ul.navbar-nav { padding: 0px; margin:20px 0px 0px 0px; list-style-type: none; background: #f1592a; width: 100%; }
.main-menu ul.navbar-nav li { padding: 0px; margin: 0px; list-style-type: none; border-right: 1px solid #dd3d0b; }
.main-menu ul.navbar-nav li a { padding: 0 22px 0 15px; color: #fff; }
.main-menu ul.navbar-nav li a span { position: relative; line-height: 40px; }
/*.main-menu ul.navbar-nav li a:hover { color: #fff; background-color: #f93; }*/
.main-menu ul.navbar-nav li a>span:before { position: absolute; top: 2px; right: -15px; content: "\f107"; font-family: FontAwesome; color: #fff; line-height: 100%; }
.main-menu ul.navbar-nav li a>span:after { position: absolute; top: 7px; left: 50%; opacity: 0; filter: alpha(opacity=0); content: "\f0d8"; font-family: FontAwesome; color: #fff; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { color: #fff; background-color: #f93; }
.main-menu ul.navbar-nav li .cate-list { float: left; width: 100%;font-family: 'Lato', sans-serif;font-weight:400;border:none;}
.main-menu ul.navbar-nav li .cate-list h4 {  color:#3f3f3f;font-size:14px;text-transform:uppercase;font-weight:400;padding:10px;margin:0px;}
.main-menu ul.navbar-nav li .cate-list ul { margin: 0px; padding:0px 0px 0px 10px; list-style-type: none;border:none;}
.main-menu ul.navbar-nav li .cate-list li { padding: 0 0px !important;border:none;}
.main-menu ul.navbar-nav li .cate-list li a { display: block; line-height: 38px; position: relative; padding: 0 15px 0 35px !important;color: #000 !important; }
.main-menu ul.navbar-nav li .cate-list li a:hover { background:#fff;color:#000;}
.main-menu ul.navbar-nav li .cate-list li a i { width: 25px; height: 25px; position: absolute; top: 10px; left: 0; margin-right: 10px; margin-left: 10px; }
.cate-icon1 { background: url(../images/icon-megamenu.png) no-repeat; }
.cate-icon2 { background: url(../images/icon-megamenu.png) 0 -37px no-repeat }
.cate-icon3 { background: url(../images/icon-megamenu.png) 0 -78px no-repeat }
.cate-icon4 { background: url(../images/icon-megamenu.png) 0 -121px no-repeat }
.cate-icon5 { background: url(../images/icon-megamenu.png) 0 -159px no-repeat }
.cate-icon6 { content: ""; background: url(../images/icon-megamenu.png) 0 -198px no-repeat }
.cate-icon7 { content: ""; background: url(../images/icon-megamenu.png) 0 -239px no-repeat }
.cate-icon8 { content: ""; background: url(../images/icon-megamenu.png) 0 -282px no-repeat }
.cate-icon9 { content: ""; background: url(../images/icon-megamenu.png) 0 -310px no-repeat }
.cate-icon10 { content: ""; background: url(../images/icon-megamenu.png) 0 -343px no-repeat }
/*.cate-box ul li.parent a span:after { content: "\f105"; width: 25px; height: 25px; position: absolute; right: -20px; top: 0; color: #666; font-family: FontAwesome; }
.cate-box ul li a:hover { color: #e62e04; }
.cate-box ul li:hover a:after { content: ""; width: 4px; height: 38px; background: #e62e04; color: #fff; position: absolute; left: -10px; top: -1px; z-index: 999; }-*/
.sub-parent { display: block; width: 100%;}
.sub-parent h3{font-weight:bold;}
.sub-parent ul { list-style: none; padding: 0px; margin: 0px; }
.sub-parent li { list-style: none; padding: 0px; margin: 0px; }
.sub-parent li a { position: relative;display: inline-block;padding:0px !important;color:#070707 !important;font-size: 14px;font-family: 'Open Sans', sans-serif;font-weight:400;line-height:24px;}
/*.sub-parent li a:before { content: "\f10c"; font-family: FontAwesome; position: absolute; top: 0; left: 0; font-size: 8px; color: #ccc; }*/
.sub-parent li a:hover:before {color:#e62e04 !important;background:none !important;}