@media print {

.fleft {float:left;}
.fright {float:right;}
.clear {clear:both;}

h1.invoice_heading {font-size:28px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px;}
.seller {margin-right:15px;}
.seller, .buyer {width:310px;}
.address, .phone, .gts, .invoice_date, .invoice_number  {margin-bottom:20px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;}
.address span, .phone span, .gts span, .invoice_date span, .invoice_number span {font-weight:bold;}
.name {margin-bottom:20px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;font-size:13px;}
.product_detail h2 {margin-bottom:20px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;font-size:15px;}
.main {margin-bottom:20px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;font-weight:bold;}
.product_table {border:1px solid #c9c9c9;}
.product_table table th {font-weight:normal;font-style:normal;text-decoration:none;color:#333333;font-weight:bold;    padding-top: 8px;padding-left: 4px;padding-bottom:8px; font-size:13px;}
.product_table table tr.bg_tr {background:#e4e4e4;}
.product_table table td {padding-bottom:10px;padding-top: 8px;padding-left: 4px;}
.prise h2 {font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;}
.query h2 {font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;}
.invoice_print{border-right:1px solid #ccc; }
.invoice_print td, .invoice_print th {border:1px solid #ccc; border-right: 0px; padding: 8px;}
.invoice_print th{border-bottom: 0px;}
.small{font-size: 13px;}
}