@charset "utf-8";
/* CSS Document */
/*--------------------- font face ---------------------*/
@font-face { font-family: 'latoblack'; src: url('../../../fonts/lato-black_1-webfont.eot'); src: url('../fonts/lato-black_1-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/lato-black_1-webfont.woff2') format('woff2'), url('../../../fonts/lato-black_1-webfont.woff') format('woff'), url('../../../fonts/lato-black_1-webfont.ttf') format('truetype'), url('../../../fonts/lato-black_1-webfont.svg#latoblack') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latoblack_italic'; src: url('../../../fonts/lato-blackitalic_1-webfont.eot'); src: url('../../../fonts/lato-blackitalic_1-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/lato-blackitalic_1-webfont.woff2') format('woff2'), url('../../../fonts/lato-blackitalic_1-webfont.woff') format('woff'), url('../../../fonts/lato-blackitalic_1-webfont.ttf') format('truetype'), url('../../../fonts/lato-blackitalic_1-webfont.svg#latoblack_italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latobold'; src: url('../../../fonts/lato-bold_1-webfont.eot'); src: url('../../../fonts/lato-bold_1-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/lato-bold_1-webfont.woff2') format('woff2'), url('../../../fonts/lato-bold_1-webfont.woff') format('woff'), url('../../../fonts/lato-bold_1-webfont.ttf') format('truetype'), url('../../../fonts/lato-bold_1-webfont.svg#latobold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latobold_italic'; src: url('../../../fonts/lato-bolditalic_1-webfont.eot'); src: url('../../../fonts/lato-bolditalic_1-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/lato-bolditalic_1-webfont.woff2') format('woff2'), url('../../../fonts/lato-bolditalic_1-webfont.woff') format('woff'), url('../../../fonts/lato-bolditalic_1-webfont.ttf') format('truetype'), url('../../../fonts/lato-bolditalic_1-webfont.svg#latobold_italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latoitalic'; src: url('../../../fonts/lato-italic_1-webfont.eot'); src: url('../../../fonts/lato-italic_1-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/lato-italic_1-webfont.woff2') format('woff2'), url('../../../fonts/lato-italic_1-webfont.woff') format('woff'), url('../../../fonts/lato-italic_1-webfont.ttf') format('truetype'), url('../../../fonts/lato-italic_1-webfont.svg#latoitalic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latolight'; src: url('../../../fonts/lato-light_1-webfont.eot'); src: url('../../../fonts/lato-light_1-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/lato-light_1-webfont.woff2') format('woff2'), url('../../../fonts/lato-light_1-webfont.woff') format('woff'), url('../../../fonts/lato-light_1-webfont.ttf') format('truetype'), url('../../../fonts/lato-light_1-webfont.svg#latolight') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latolight_italic'; src: url('../../../fonts/lato-lightitalic_1-webfont.eot'); src: url('../../../fonts/lato-lightitalic_1-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/lato-lightitalic_1-webfont.woff2') format('woff2'), url('../../../fonts/lato-lightitalic_1-webfont.woff') format('woff'), url('../../../fonts/lato-lightitalic_1-webfont.ttf') format('truetype'), url('../../../fonts/lato-lightitalic_1-webfont.svg#latolight_italic') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'latoregular'; src: url('../../../fonts/lato-regular_1-webfont.eot'); src: url('../../../fonts/lato-regular_1-webfont.eot?#iefix') format('embedded-opentype'), url('../../../fonts/lato-regular_1-webfont.woff2') format('woff2'), url('../../../fonts/lato-regular_1-webfont.woff') format('woff'), url('../../../fonts/lato-regular_1-webfont.ttf') format('truetype'), url('../../../fonts/lato-regular_1-webfont.svg#latoregular') format('svg'); font-weight: normal; font-style: normal; }
/*--------------------- style css ------------------*/
a { text-decoration: none !important; }
th { /*text-align: inherit;*/ }
/*---- border none -------------------------*/
.border-l-none { border-left: none; }
.border-r-none { border-right: none; }
.border-t-none { border-right: none; }
.border-b-none { border-right: none; }
/*----------- border none end --------------*/
body { background: #f5f5f5; }
.top-header { background: #fff; border-bottom: solid 1px #d9d9d9; font-family: 'latoregular'; }
.top-header .box-right { float: right; border-left: 1px solid #e8e8e8; }
.top-header .box-right.border-l-none { border-left: none; }
.top-h-wish-list { font-size: 16px; color: #f1592a; display: inline-block; padding: 5px 10px; }
.top-h-login { font-size: 16px; color: #f1592a; display: inline-block; padding: 5px 10px; }
.top-h-help { font-size: 16px; color: #575757; display: inline-block; padding: 5px 10px; }
.top-h-my-account { font-size: 16px; color: #575757; display: inline-block; padding: 5px 10px; }
.top-h-wish-list:hover { color: #f1592a; }
.top-h-login:hover { color: #f1592a; }
.top-h-help:hover { color: #575757; }
.top-h-my-account:hover { color: #575757; background-color: #EAEAEA; }
.logo-area { padding: 20px 0 0px 0; }
.top-header .logo-user { display: none; }
.logo { float: left; }
.logo-right-area { }
.logo-area .block-cart { float: right; position: relative; margin: 25px 0 0 26px; }
.logo-area .block-cart .block-title { position: relative; text-transform: normal; font-size: 100%; }
/*.logo-area .block-cart .block-title .box-left { float: left; width: 50px; height: 43px; position: relative; background: #e62e04; }*/
.logo-area .block-cart .block-title .box-left { float: left; width: 50px; height: 43px; position: relative; background: #192f5a; }
/*.logo-area .block-cart .block-title .box-right { float: right; text-align: center; padding-left: 10px; padding-right: 10px; background: #f1592a; height: 43px; }*/
.logo-area .block-cart .block-title .box-right { float: right; text-align: center; padding-left: 10px; padding-right: 10px; background: #192f5a; height: 43px; }
.logo-area .block-cart .block-title .box-left:before { content: "\f07a"; width: 30px; height: 30px; position: absolute; top: 7px; left: 14px; font-family: FontAwesome; color: #fff; font-size: 22px; }
.logo-area .block-cart .block-title .box-right .amount { line-height: 42px; margin: 0; color: #fff; }
.logo-area .block-cart .block-title .box-right .amount a { color: #fff; }
.logo-area .block-cart .block-title .box-right .amount .subtotal { color: #fff; font-weight: bold; font-size: 16px; }
.advanced-search { float: left; margin-top: 25px; width: 100%; }
.advanced-search .form-search { position: relative; z-index: 1; }
.advanced-search .form-search input { border: 1px solid #c8c8c8; margin-top: 0; color: #999; padding-left: 15px; height: 44px; margin-bottom: 0; width: 90%; outline: none; }
.advanced-search .form-search .button { position: absolute; top: 0; right: 0; background: #192f5a; text-indent: -9999em; padding: 0; margin: 0; height: 100%; border: none; width: 10%; outline: none; min-width: 50px; text-align: center; }
.advanced-search .form-search .button:before { content: "\f002"; font-family: FontAwesome; position: absolute; top: 12px; left: 14px; width: 24px; height: 24px; text-indent: 0; z-index: 9999; -webkit-transition: all .3s ease-out 0s; -moz-transition: all .3s ease-out 0s; -o-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s; color: #fff; }
.nav-header { margin: 20px 0 0; display: inline-block; width: 100%; }
.navbar { display: none; }
ul.mainnav { margin: 0; float: left; list-style: none; width: 100%; background: #f1592a; padding: 0; }
ul.mainnav ul { margin:0px; padding:0px;}
ul.mainnav li ul[class*=level] ul li a { padding:0px;}
ul.mainnav { margin: 0; float: left; list-style: none; position: relative;  z-index: 6}
ul.mainnav li { border-top: none; display: inline-block;}
ul.mainnav li ul[class*=level] { position: absolute; opacity: 0; filter: alpha(opacity=0); right: auto;  text-align: left; visibility: hidden; -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.2); -moz-box-shadow: 0 5px 5px rgba(0,0,0,.2); box-shadow: 0 5px 5px rgba(0,0,0,.2); min-width: 180px; padding: 15px 0 25px; background: #fff; float:left; }
ul.mainnav li ul[class*=level] li { display: block; position: relative }
ul.mainnav li ul[class*=level] li a { display: block; padding: 0 15px }
ul.mainnav li ul[class*=level] li a span { padding: 10px 0; display: block; font-size: 100%; border-bottom: 1px solid #e8e8e8 }
ul.mainnav li ul[class*=level] li a span:before { content: ""; height: 100%; width: 5px; background: #e62e04; position: absolute; top: 0; right: -10px; opacity: 0; filter: alpha(opacity=0) }
ul.mainnav li ul[class*=level] ul[class*=level] { opacity: 0; filter: alpha(opacity=0); visibility: hidden; top: 5px; left: 208px }
ul.mainnav li:hover { z-index: 9992 }
ul.mainnav li:hover>ul[class*=level] {  left:auto; right: auto; -webkit-transition: all .3s ease-out .15s; -moz-transition: all .3s ease-out .15s; -o-transition: all .3s ease-out .15s; transition: all .3s ease-out .15s; opacity: 1; filter: alpha(opacity=100); visibility: visible; min-width: 180px; }
ul.mainnav li:hover>ul[class*=level]>li:hover ul[class*=level] { left: 182px; opacity: 1; filter: alpha(opacity=100); visibility: visible; top: 5px; -webkit-transition: all .3s ease-out .15s; -moz-transition: all .3s ease-out .15s; -o-transition: all .3s ease-out .15s; transition: all .3s ease-out .15s }
ul.mainnav>li { float: left; padding: 0; border-left: 1px solid transparent; position:relative; }
ul.mainnav>li.parent>a { padding-right: 30px }
ul.mainnav>li.parent>a>span { position: relative }
ul.mainnav>li.parent>a>span:before { position: absolute; top: 2px; right: -15px; content: "\f107"; font-family: FontAwesome; color: #fff; line-height: 100% }
ul.mainnav>li.parent>a>span:after { position: absolute; top: 7px; left: 50%; opacity: 0; filter: alpha(opacity=0); content: "\f0d8"; font-family: FontAwesome; color: #fff }
ul.mainnav>li.nav-home { border-left: 1px solid #e62e04 }
ul.mainnav>li.active { background: #f93 }
ul.mainnav>li.active>a { color: #fff; position: relative }
ul.mainnav>li.active>a>span:before { color: #fff }
ul.mainnav>li>a { display: block; padding: 0 17px; line-height: 100%; color: #fff }
ul.mainnav>li>a>span { line-height: 40px }
ul.mainnav>li:hover { background: #f93; border-left: 1px solid #e62e04 }
ul.mainnav>li:hover>a { color: #fff; position: relative }
ul.mainnav>li:hover>a>span:before { color: #fff }
ul.mainnav>li:hover>a>span:after { opacity: 1; filter: alpha(opacity=100) }
ul.mainnav>li:hover>ul { top: 40px; opacity: 1; filter: alpha(opacity=100); visibility: visible; margin: 0; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); -webkit-transition: all .3s ease-out .15s; -moz-transition: all .3s ease-out .15s; -o-transition: all .3s ease-out .15s; transition: all .3s ease-out .15s }
.mainnav li.level0 { border-left: 1px solid #dd3d0b; position:static; }
.mainnav li.level0:first-child { border-left: none; }
ul.mainnav>li:hover a { text-decoration: none; }
/*--------------- banner section ------------------*/
.banner-section .carousel-control.right { background: #000; }
.banner-section .carousel-control.left { background: #000; }
.banner-section .carousel-control { top: 42%; bottom: 42%; width: 30px; padding: 12px 0; }
.glyphicon-chevron-right:before { content: "\f105"; }
.banner-section .carousel-indicators li { background-color: #fff; border: none; }
.banner-section .carousel-indicators .active { background-color: #f1592a; border: none; }
.jerry-add-1 { background: #fdd365; padding: 10px; }
.jerry-add-1 .inner { border: solid 1px #fef0c9; padding: 9px 10px; }
.jerry-add-1 .inner strong { font-size: 22px; color: #192f5a; font-family: 'latobold'; text-align: right; display: block; }
.jerry-add-2 { background: #fdd365; padding: 10px; margin: 4px 0; }
.jerry-add-2 .inner { border: solid 1px #fef0c9; padding: 10px; }
.jerry-add-2 .inner strong { font-size: 22px; color: #fff; font-family: 'latobold'; text-align: left; display: block; padding-bottom: 15px; }
.jerry-add-2 .inner button { font-size: 13px; color: #000000; border: none; background: #fff; text-transform: uppercase; padding: 5px 10px; margin-bottom: 15px; }
.jerry-add-3 { background: #fdd365; padding: 10px; }
.jerry-add-3 .inner { border: solid 1px #fef0c9; padding: 10px; }
.jerry-add-3 .inner img { display: inline-block; }
.jerry-add-3 .inner strong { font-size: 15px; color: #000; font-family: 'latobold'; text-align: left; display: inline-block; padding-bottom: 15px; width: 118px; margin-left: 5px; }
.banner-section { padding: 15px 0 0px 0px; }
/*-------------- cart popup ------------------*/
.block-cart:hover .block-content { opacity: 1; filter: alpha(opacity=100); margin-top: 0; visibility: visible; -webkit-transition: all .3s ease-out 0s; -moz-transition: all .3s ease-out 0s; -o-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s }
.block-cart .block-content { float: left; width: 300px; position: absolute; top: 44px; margin: 30px 0 0; right: 0; z-index: 99999; -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.2); -moz-box-shadow: 0 5px 5px rgba(0,0,0,.2); box-shadow: 0 5px 5px rgba(0,0,0,.2); opacity: 0; filter: alpha(opacity=0); visibility: hidden; -webkit-transition: all .3s ease-out 0s; -moz-transition: all .3s ease-out 0s; -o-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s }
.block-cart .block-content .inner { background: #fff; float: left; width: 100%; padding: 15px 20px }
.block-cart .block-content .inner ol { margin: 0; padding: 0; list-style: none; }
.block-cart .block-content .inner .block-subtitle { text-transform: uppercase; font-size: 100%; margin-bottom: 7px }

.block-cart .block-content .inner #cart-sidebar{max-height: 300px; overflow: auto;}
.block-cart .block-content .inner #cart-sidebar li { padding: 8px 0 8px 8px; border-bottom: 1px solid #e8e8e8; position: relative; display: inline-block; width: 100%; border-left: none; border-right: none; }
.block-cart .block-content .inner #cart-sidebar li .btn-remove { position: absolute; top: 18px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em }
.block-cart .block-content .inner #cart-sidebar li .btn-remove:before { content: "\f014"; font-family: FontAwesome; position: absolute; top: 0; left: 0; text-indent: 0; color: #999 }
.block-cart .block-content .inner #cart-sidebar li .btn-remove:hover:before { color: #e62e04 }
.block-cart .block-content .inner #cart-sidebar li .btn-edit { position: absolute; top: 42px; font-size: 14px; left: 0; width: 15px; height: 15px; text-indent: -9999em }
.block-cart .block-content .inner #cart-sidebar li .btn-edit:before { content: "\f040"; font-family: FontAwesome; position: absolute; top: 0; left: 0; text-indent: 0; color: #999 }
.block-cart .block-content .inner #cart-sidebar li .btn-edit:hover:before { color: #e62e04 }
.block-cart .block-content .inner #cart-sidebar li .product-image { float: left; margin-right: 18px; overflow: hidden }
.block-cart .block-content .inner #cart-sidebar li .product-image:hover img { opacity: .8; filter: alpha(opacity=80); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2); -webkit-transition: all .3s ease-out 0s; -moz-transition: all .3s ease-out 0s; -o-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s }
.block-cart .block-content .inner #cart-sidebar li .product-image img { max-width: 50px; max-height: 50px; }
.block-cart .block-content .inner #cart-sidebar li .product-name { font-size: 100%; line-height: 18px; margin: 0; }
.block-cart .block-content .inner #cart-sidebar li .product-name a { display: inline-block; width: 165px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #333; }
.block-cart .block-content .inner #cart-sidebar li .product-details .truncated { clear: both; display: inline }
.block-cart .block-content .inner #cart-sidebar li .product-details>strong { float: left; min-width: 98px; border: 1px solid #e8e8e8 }
.block-cart .block-content .inner #cart-sidebar li .product-details>strong a { min-width: 24px; min-height: 28px; float: left; margin: 0; text-align: center; color: #fff; padding-top: 4px; }
.block-cart .block-content .inner #cart-sidebar li .product-details>strong a.flycart-qty-change-left { background: url(../images/minus.png) no-repeat #999 }
.block-cart .block-content .inner #cart-sidebar li .product-details>strong a.flycart-qty-change-right { background: url(../images/plus.png) no-repeat #999 }
.block-cart .block-content .inner #cart-sidebar li .product-details>strong a:hover.flycart-qty-change-left, .block-cart .block-content .inner #cart-sidebar li .product-details>strong a:hover.flycart-qty-change-right { background-color: #e62e04 }
.block-cart .block-content .inner #cart-sidebar li .product-details>strong input { margin: 0; border: none; height: 28px; width: 58px; border-right: 1px solid #e8e8e8; border-left: 1px solid #e8e8e8; color: #999; float: left; padding: 0 10px; }
.block-cart .block-content .inner #cart-sidebar li .product-details .price { line-height: 100%; margin: 0 0 20px; display: block }
.block-cart .block-content .inner .summary { float: left; width: 100%; margin-bottom: 12px }
.block-cart .block-content .inner .summary p { margin: 0; width: 100% }
.block-cart .block-content .inner .summary p .label { text-transform: uppercase; font-size: 100%; font-weight: 400; padding: 0; margin: 12px 0 0; display: inline-block; color: #999 }
.block-cart .block-content .inner .summary p .price { float: right; font-size: 128.57%; margin-top: 5px; color: #282727 }
.block-cart .block-content .inner .actions { float: left; width: 100%; text-align: center }
.block-cart .block-content .inner .actions:after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; }
.block-cart .block-content .inner .actions .a-inner { display: inline-block; line-height: 40px }
.block-cart .block-content .inner .actions .a-inner a { color: #fff; text-transform: uppercase; font-size: 100%; position: relative; padding: 0 19px 0 19px; float: left }
.block-cart .block-content .inner .actions .a-inner a.btn-mycart { color: #fff; position: relative; z-index: 9; background: #f93 }
.block-cart .block-content .inner .actions .a-inner a.btn-mycart:hover { background: #333; text-decoration: none; }
.block-cart .block-content .inner .actions .a-inner a.btn-checkout { background: #e62e04 }
.block-cart .block-content .inner .actions .a-inner a.btn-checkout:hover { background: #333; text-decoration: none; }
/*----------------- container area -------------------------*/
.top-padd { padding-top: 30px; }
.bottom-mrgn { margin-bottom: 30px; }
.title-heading { font-size: 22px; color: #000; font-family: 'latobold'; text-transform: uppercase; text-align: center; padding: 15px 0; }
.title-heading li { list-style: none; display: inline-block; }
.title-heading li a { font-size: 22px; color: #000; font-family: 'latobold'; text-transform: uppercase; line-height: 32px; padding-bottom: 4px; margin: 0 15px; background: none !important; border-radius: 0px; border: none !important; border-bottom: solid 3px #f5f5f5 !important; }
.title-heading li a:hover, .title-heading li a.active { font-size: 22px; color: #000; font-family: 'latobold'; text-transform: uppercase; border-bottom: solid 3px #f5f5f5; line-height: 32px; padding-bottom: 4px; margin: 0 15px; background: none !important; border-radius: 0px; border-bottom: solid 3px #f5f5f5 !important; }
.dealof-box { background: #fff; padding: 15px; position: relative; min-height: 340px; margin-bottom: 30px; }
.dealof-box .addto-cart { display: none; }
.dealof-box:hover { box-shadow: 0px 0px 9px -3px #5D6B86; }
.dealof-box:hover .addto-cart { display: block; }
.dealof-box .off { position: absolute; top: 15px; left: 15px; background: #f14e47; border-radius: 100%; font-size: 12px; color: #fff; font-family: 'latobold'; width: 50px; padding: 8px; text-align: center; z-index: 1; }
/*.dealof-box .new { position: absolute; top: 15px; left: 15px; background: #59ab02; border-radius: 100%; font-size: 10px; color: #fff; font-family: 'latoregular'; width: 38px; padding: 12px 0px; text-align: center; z-index: 1; }*/
.dealof-box .new { position: absolute; top: 15px; left: 15px; background: #59ab02; border-radius: 100%; font-size: 12px; color: #fff; font-family: 'latoregular'; width: 50px; padding: 16px 0px; text-align: center; z-index: 1; height:50px; }
.dealof-box .img { width: 100%; display: inline-block; position: relative; height: 170px; }

/*ADDED BY HIREN*/
/*.dealof-box .img img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }*/
.dealof-box .img img { height: 100%; margin:auto;}

/*ADDED BY HIREN end */

.dealof-box p { margin-top:5px;}
.dealof-box p, .dealof-box p a { font-size: 15px; color: #5f5f5f; font-family: 'latoregular'; min-height:42px; }
.dealof-box p:hover, .dealof-box p a:hover {color: #f1592a;}
.dealof-box .price { font-size: 15px; color: #000000; font-family: 'latobold'; padding-bottom: 5px; }
.dealof-box .price span { font-size: 15px; color: #656565; font-family: 'latoregular'; text-decoration: line-through; padding-left: 15px; }
.sprite { background: url(../../../images/sprite.png) no-repeat left top; display: inline-block; vertical-align: middle; }
.star { margin: 4px 0 5px; padding: 0; float: left; width: 100%; }
.star li { margin: 0 3px 0 0; padding: 0; list-style: none; float: left; }
.sprite { background: url(../../../images/sprite.png) no-repeat left top; display: inline-block; vertical-align: middle; }
.star li.star-fill { width: 11px; height: 10px; background-position: 0 0; }
.star li.star-strock { background-position: -16px 0; width: 11px; height: 10px; }
.owl-carousel01 .owl-controls { position: absolute; top: 44%; right: 12px; }
.owl-carousel1 .owl-controls { position: absolute; top: 44%; right: 0px; }
.owl-carousel01 .owl-controls .owl-prev { background: #e6e6e6 url(../../../images/sprite.png) no-repeat 5px -11px; display: inline-block; vertical-align: middle; width: 20px; height: 24px; margin-left: 5px; position: relative; text-indent: -100000px; right: -25px; }
.owl-carousel01 .owl-controls .owl-next { background: #e6e6e6 url(../../../images/sprite.png) no-repeat 5px -11px; display: inline-block; vertical-align: middle; width: 20px; height: 24px; margin-left: 5px; position: relative; text-indent: 100000px; top: 28px; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.woman-shoes-main { background: #fff; display: inline-block; width: 100%; margin: 30px 0 0; }
.woman-shoes-main .img-add { display: inline-block; width: 57%; float: left; }
.woman-shoes { display: inline-block; margin: 0; padding: 0; vertical-align: top; background: #fff; width: 43%; float: left; }
.woman-shoes h3 { font-size: 15px; color: #fff; text-transform: uppercase; font-family: 'latobold'; background: #155970; padding: 10px 15px; margin: 0; }
.woman-shoes h3.blue { background: #4b79ce; }
.woman-shoes h3.pink { background: #fd639f; }
.woman-shoes ul { margin: 0; padding: 15px; }
.woman-shoes ul li { display: block; list-style: none; }
.woman-shoes ul li a { display: inline-block; padding: 4px 0; color: #787878; font-size: 14px; font-family: 'latoregular'; }
.woman-shoes ul li a.link { font-size: 13px; color: #f1592a; font-family: 'latobold'; padding: 20px 0; }
.woman-shoes-main .dealof-box { border-left: solid 1px #e5e5e5; }
.col-40 { width: 40%; float: left; }
.col-60 { width: 60%; float: left; }
.add-to-card { background: #f1592a; border: none; display: inline-block; padding: 4px 10px; color: #fff; font-size: 14px; font-family: 'latobold'; }
.add-to-card:hover { opacity: 0.8; color: #fff; }
.add-to-card:before { content: "\f07a"; font-family: FontAwesome; color: #fff; font-size: 18px; margin-right: 5px; }
.add-to-wish { background: #c9c9c9; border: none; display: inline-block; padding: 4px 10px; color: #fff; font-size: 14px; font-family: 'latobold'; }
.add-to-wish:before { content: "\f004"; font-family: FontAwesome; color: #fff; font-size: 18px; margin-right: 5px; }
.banner-add { margin-top: 20px; }
.box-banner a { display: block; }
.box-banner a:after { content: ""; position: absolute; top: 10px; left: 30px; bottom: 10px; right: 30px; z-index: 9; border-left: 1px solid rgba(255,255,255,.8); border-right: 1px solid rgba(255,255,255,.8); transform: scale(1, 0) }
.box-banner a:before { content: ""; position: absolute; top: 10px; left: 30px; bottom: 10px; right: 30px; z-index: 9; border-top: 1px solid rgba(255,255,255,.8); border-bottom: 1px solid rgba(255,255,255,.8); transform: scale(0, 1); }
.box-banner a:hover:after, .box-banner a:hover:before { transform: scale(1); -webkit-transition: all .3s ease-out 0s; -moz-transition: all .3s ease-out 0s; -o-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s }
/*----footer-css-----*/
footer { background: #282828; width: 100%; display: block; }
.social-box { width: 100%; display: block; border-bottom: 1px solid #5d5d5d; color: #fff; padding: 25px 0; }
.footer-link { width: 100%; display: block; border-bottom: 1px solid #5d5d5d; color: #fff; padding: 25px 0; }
.footer-link h3 { color: #fff; font-size: 14px; text-transform: uppercase; padding-bottom: 15px; font-family: 'latoregular'; }
.payment-cards { background: url(../../../images/payment-cards.png) 0 0; width: 45px; height: 29px; display: inline-block; margin-right: 2px; }
.discover { background-position: -47px 0px; }
.paypal { background-position: -94px 0px; }
.american { background-position: -141px 0px; }
.visa { background-position: -188px 0px; }
.footer-link ul { margin: 0px; padding: 0px; list-style-type: none; }
.footer-link ul li { padding: 0px; position: relative; }
.footer-link ul li a { padding: 2px 0; font-size: 100%; display: inline-block; text-decoration: none; color: #a3a3a3; }
.footer-link ul li a:hover { color: #fff; }
.copyright { width: 100%; display: block; color: #a3a3a3; padding: 18px 0; text-align: center; font-size: 14px; }
.box-newletter { width: 100%; }
.box-newletter h2 { line-height: 37px; font-size: 16px; margin: 0; text-transform: uppercase; font-weight: 400; text-align: center; }
.box-newletter .input-box { float: left; width: 100%; background: #3d3d3d; height: 37px; line-height: 37px; }
.box-newletter .input-box input { background: url(../../../images/email-icon.png) 10px 12px no-repeat #3d3d3d; border: none; outline: none; padding: 0px 1% 0 15%; width: 88%; }
.box-newletter .actions { float: left; width: 12%; }
.box-newletter .actions .button { width: 37px; height: 37px; background: #3d3d3d; position: relative; margin: 0; border: none; outline: none; }
.box-newletter .actions .button span { display: block; color: #8f8f8f; font-size: 20px; }
.email-icon { background: url(../../../images/email-icon.png) 0 0; width: 23px; height: 15px; display: block; margin: 12px 0px 12px 12px; }
.box-newletter a { padding: 0px; margin: 0px; }
.box-newletter a span { width: 26px; height: 26px; background: #959595; border-radius: 50%; text-align: center; vertical-align: middle; color: #282828; line-height: 26px; font-size: 16px; }
.box-newletter a:hover span { background: #fff; color: #282828; }
.social-box-icon { margin: 0 auto; line-height: 36px; }
.breadcrumbs, .col2-right-layout .breadcrumbs, .col3-layout .breadcrumbs { padding: 0 0px }
.breadcrumbs { /*float: left;*/ width: 100%; height: 45px;}
.breadcrumbs ul { padding: 0; list-style-type: none; margin: 0px; }
.breadcrumbs ul li { float: left; line-height: 100%; padding: 13px 0 18px 0; list-style-type: none; }
.breadcrumbs ul li a { color: #000000; font-size: 100%; float: left; font-family: 'latoregular'; }
.breadcrumbs ul li a:hover { color: #f1592a; }
.breadcrumbs ul li>span { position: relative; float: left; width: 20px; text-indent: -9999em; }
.breadcrumbs ul li>span:before { content: "\f105"; text-indent: 0; font-family: FontAwesome; color: #000; width: 10px; height: 10px; position: absolute; top: 0; left: 8px }
.breadcrumbs ul li>strong { font-weight: 400; font-size: 100%; color: #f1592a; }
.filter-heading { width: 100%; background: #fff; border-bottom: 1px solid #e5e5e5; }
.filter-heading a { color: #010101; font-size: 17px; display: block; font-family: 'latobold'; text-transform: uppercase; padding: 10px 15px 7px 15px; text-decoration: none; }
.filter-heading a span { float: right; background: url(../../../images/down-accordian.png) center no-repeat; width: 14px; height: 11px; margin-top: 6px }
.filter-sub-heading { display: block; width: 100%; background: #fff; }
.filter-sub-heading a { color: #424242; font-size: 16px; font-family: 'latobold'; text-transform: capitalize; padding: 10px 15px; display: block; text-decoration: none; }
.filter-sub-heading a span { float: right; background: url(../../../images/down-accordian.png) center no-repeat; width: 14px; height: 11px; margin-top: 6px; -webkit-transform: rotate(180deg);
    -moz-transform: rotate(00deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); -webkit-transition: all 300ms linear 0s;	-moz-transition: all 300ms linear 0s;	-ms-transition: all 300ms linear 0s;	transition: all 300ms linear 0s;}
	
.filter-sub-heading a.collapsed span {-moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);}
	
.filter-block { width: 100%; background: #fff; padding: 10px 15px; }
.filter-block .filter-search { display: block; position: relative; z-index: 9993; }
.filter-block .filter-search input { border: 1px solid #cccccc; color: #999; padding: 0 30px 0 10px; height: 30px; outline: none; line-height: 30px; width: 100%; }
.filter-block .filter-search .button { position: absolute; top: 0; right: 0; background: none; text-indent: -9999em; padding: 0; margin: 0; width: 30px; height: 100%; border: none; text-align: center; outline: none; }
.filter-block .filter-search .button:before { font-family: FontAwesome; position: absolute; top: 5px; left: 0px; width: 24px; height: 24px; text-indent: 0; z-index: 9999; -webkit-transition: all .3s ease-out 0s; -moz-transition: all .3s ease-out 0s; -o-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s; content: "\f002"; color: #cccccc; }
.filter-block ul { margin: 0px; padding: 0px; }
.filter-block li { display: block; list-style-type: none; }
.filter-block li a { font-size: 13px; color: #424242; line-height: 29px; display: block; }
.filter-block li a span { float: right; color: #949494; }
.filter-block li a:hover { color: #f1592a; text-decoration: none; }
.filter-block .brand-list { display: block; }
.filter-block .brand-list ul { margin: 0px; padding: 0px; }
.filter-block .brand-list li { display: block; list-style-type: none; font-size: 13px; color: #424242; }
.filter-block .brand-list li span { float: right; color: #949494; }
.checkbox { padding-left: 20px; }
.checkbox label { display: block; position: relative; padding-left: 5px; }
.checkbox label::before { content: ""; display: inline-block; position: absolute; width: 16px; height: 16px; left: 0; margin-left: -20px; background-color: #FFFFFF; border: 1px solid #192f5a; }
.checkbox label::after { display: inline-block; position: absolute; width: 16px; height: 16px; left: 0; top: 0; margin-left: -20px; font-size: 10px; color: #fff; font-family: 'latoregular'; font-weight: normal; background-color: #192f5a; text-align: center; }
.checkbox input[type="checkbox"] { background: #fff; border: 1px solid #aeaeae; }
.checkbox input[type="checkbox"]:focus + label::before { outline: none; }
.checkbox input[type="checkbox"]:checked + label::after { font-family: 'FontAwesome'; content: "\f00c"; }
.filter-heading-common { border-bottom: 1px solid #e5e5e5; color: #010101; font-size: 17px; line-height: 30px; display: block; font-family: 'latobold'; text-transform: uppercase; padding: 10px 15px; background: #fff; margin-top: 20px; }
.filter-heading-common span { float: right; color: #939393; font-size: 12px; text-transform: capitalize; font-weight: normal; font-family: 'latoregular'; }
.filter-heading-common span.clear-all { display: block; }
.filter-heading-common span.clear-all a { background: url(../../../images/close-icon.png) right no-repeat; padding-right: 20px; color: #939393; font-size: 12px; }
.filter-heading-common span.clear-all a:hover { color: #f14e47; background: url(../../../images/close-icon-hover.png) right no-repeat; }
.bt-bor { border-bottom: 1px solid #e5e5e5; }
.accordion { margin-bottom: 20px; }
.short-bar { font-size: 22px; color: #000; font-family: 'latobold'; text-transform: uppercase; padding: 10px 0; border-top: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; margin: 0 auto; width: 100%; display: inline-block; margin-bottom: 20px; }
.short-bar span { color: #8c8c8c; }
.shortby { float: right; }
.shorten { float: left; display: block; color: #939393; font-size: 12px; margin-left: 15px; }
.shorten select { background: #f5f5f5; border: 1px solid #aeaeae; padding: 5px; color: #787878; font-size: 13px; outline: none; }
.shorten label { float: left; margin-right: 0px; line-height: 28px; margin-right: 10px; }
.shorten span { float: right; margin-right: 5px; line-height: 28px; }
#catalog-listing { float: left; width: 100%; }
.products-grid { clear: both; }
.pagination-box { padding: 15px 0 10px 0; border-top: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; margin: 0 auto; width: 100%; display: inline-block; margin-bottom: 20px; }
.pagination-list { width: 100%; line-height: 30px; color: #606060; font-size: 13px; }
.pagination { width: auto; float: right; margin: 0px; }
.pagination li a { padding: 5px 7px 5px 7px; border: 1px solid #cccccc; border-radius: 0px !important; background: #f5f5f5; margin-left: 10px; color: #606060 !important; }
.pagination li a img { margin: 4px 0 3px 0; }
.pagination li a:hover { background: #f5f5f5 !important; color: #606060 !important; border: 1px solid #f1592a !important; }
.pagination li:hover a { border: 1px solid #f1592a; background: #f5f5f5; color: #606060; }
.pagination li.active a { border: 1px solid #f1592a; background: #f5f5f5; color: #606060; }
/*---rang-css--*/
.price-rang { color: #424242; display: block; }
.price-rang input { color: #f14e47; margin-left: 15px; border: none; }
.range-wrap { padding: 10px 0; margin: 5px 0 0px; float: left; width: 100%; }
.range-wrap #slider-range { margin: 6px 0px; background: #b1b1b1; height: 3px; }
.rang-handle { height: 14px; width: 3px; background: #000; top: -7px; margin-left: -8px; outline: none; }
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; -ms-touch-action: none; touch-action: none; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
.ui-slider-horizontal .ui-slider-handle { top: -5px; margin-left: 0em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; background: #000; }
.accordion .ui-widget-content .ui-state-default { height: 14px; width: 3px; background: #000; outline: none; }
#owl-example .dealof-box, #owl-example1 .dealof-box, #owl-example2 .dealof-box, #owl-example3 .dealof-box, #owl-example5 .dealof-box { margin-bottom: 0px; }
/*---rang-css--*/
.recent-projects { display: block; }
.recent-projects ul.nav-tabs { font-size: 22px; color: #000; font-family: 'latobold'; text-transform: uppercase; text-align: center; padding-bottom: 15px; margin: 10px auto; width: 50%; border-bottom: none; }
.recent-projects ul.nav-tabs li { list-style: none; display: inline-block; }
.recent-projects ul.nav-tabs li a { text-decoration: none; background: none !important; border: none !important; border-bottom: solid 3px #f5f5f5 !important; border-radius: 0px !important; font-size: 22px; color: #000; font-family: 'latobold'; text-transform: uppercase; display: block; padding: 0px; margin: 0 15px; }
.recent-projects ul.nav-tabs li:hover a, .recent-projects ul.nav-tabs li.active a { text-decoration: none; background: none !important; border: none !important; border-bottom: solid 3px #f1592a !important; border-radius: 0px !important; font-size: 22px; color: #000 !important; font-family: 'latobold'; text-transform: uppercase; display: block; }
/*----------------- Product Detail page --------------------*/
.product-details-section { }
.product-details-box .breadcrumb { padding: 0 4px; margin-bottom: 10px; }
.product-details-box .breadcrumb a { font-size: 13px; color: #000; font-family: 'latoregular'; }
.product-details-box .breadcrumb > li + li:before { content: "\f105"; font-family: 'FontAwesome'; color: #000; }
.product-details-box .breadcrumb > .active { color: #f1592a; }
/* BEGIN product page */
.product-page { position: relative; width: 100%; margin: 0 auto; display: inline-block; }
.product-main-image { margin-bottom: 20px; position: relative; background:#fff; }
.product-main-image img { width: 100%; }
.product-other-images { text-align:left; }
.product-other-images a { background-color:#fff; display:inline-block; margin-right:4px;}
.product-other-images img { width: 106px; height: auto; margin: 0 0px 0px; }
.product-other-images a:hover img, .product-other-images a.active img { box-shadow: 0 0 0 2px #f1592a; }
.product-page h1 { border-bottom: 1px solid #e5e5e5; padding:0px; padding-bottom: 15px;  font-size: 20px; color: #000; font-family: 'latobold'; margin: 0; text-transform: uppercase; }
.price-availability-block { border-top: 1px solid #e5e5e5; padding-bottom: 12px; margin-bottom: 17px; margin-top: 20px; padding-top: 15px; }
.price-availability-block .price { float: left; font-family: 'latoregular'; }
.price-availability-block .price strong { color: #f1592a; font-size: 28px; font-family: 'latobold'; }
.price-availability-block .price strong span { font-size: 25px; }
.price-availability-block .price em { font-style: normal; color: #000; font-size: 17px; font-family: 'latoregular'; padding-left: 5px; }
.price-availability-block .price em span { font-size: 23px; text-decoration: line-through; }
.price-availability-block .availability { color: #4e4e4e; padding: 15px 0 0 10px; display: inline-block; font-size: 15px; font-family: 'latoregular'; }
.price-availability-block .availability strong { font-weight: normal; color: #3e4d5c; }
.product-page .nav-tabs > li { margin-top: 1px; }
.product-page-options { border-top: 1px solid #f4f4f4; border-bottom: 1px solid #f4f4f4; padding: 20px 0; margin-bottom: 20px; width: 100%; overflow: hidden; }
.product-page-options .pull-left { margin-right: 40px; }
.product-page-options .pull-left:last-child { margin-right: 0; }
.product-page-options label { font-weight: normal; text-transform: uppercase; color: #8e9ca8; font-family: 'latoregular'; float: left; margin-right: 10px; padding-top: 2px; }
.product-page-options select.input-sm { float: left; width: auto; height: 26px; }
.product-page-cart { border-bottom: 1px solid #f4f4f4; padding-bottom: 20px; margin-bottom: 18px; padding-top: 30px; }
.product-quantity, .product-quantity .input-group { width: 90px; float: left; margin-right: 20px; position: relative; }
table .product-quantity, table .product-quantity .input-group { margin-right: 0; }
.product-page-cart .btn { padding: 7px 20px; font-size: 13px; height: 38px; }
.product-quantity input.form-control { border: solid 1px #ccc; background: #f5f5f5 !important; font: 15px 'latoregular'; color: #647484; height: 32px; width: 70px; text-align: center; padding: 5px; }
.product-quantity input.form-control:focus { border: none; }
.product-quantity .input-group-btn { position: static; }
.product-quantity .btn { text-align: center; height: 18px !important; width: 18px; padding: 0 2px 0 1px !important; text-align: center; background: #edeff1; border-radius: 0 !important; font-size: 18px !important; line-height: 1 !important; color: #616b76; margin: 0 !important; position: absolute; right: 0; }
.product-quantity .quantity-up { top: 0; }
.product-quantity .quantity-down { bottom: 0; }
.product-quantity .btn i { position: relative; top: -2px; left: 1px; }
.product-page .review { color: #4e4e4e; font-family: 'latoregular'; border-bottom: 1px solid #f4f4f4; padding-bottom: 10px; margin-bottom: 0px; font-weight: 300; padding-top: 10px; font-size: 14px; }
.product-page .rateit { margin-right: 20px; position: relative; top: 2px; }
.product-page .review a { color: #4e4e4e; font-size: 14px; font-family: 'latoregular'; cursor: pointer;}
.product-page .social-icons li { display: inline-block; vertical-align: middle; }
.product-page .social-icons li a { opacity: 1; width: 24px; height: 24px; }
.product-page .social-icons li a:hover { opacity: 0.8; }
.social-icons li .facebook { background-position: -1px -61px; }
.social-icons li .twitter { background-position: -1px -34px; }
.social-icons li .googleplus { background-position: -1px -87px; }
.social-icons li .youtube { background-position: -1px -114px; }
.product-page .description { padding-bottom: 10px; }
.product-page .sku-code {overflow: hidden; }
.product-page .sku-code .text { font-size: 14px; color: #4e4e4e; font-family: 'latoregular';  float: left; margin-right: 13px; width: 215px; margin-bottom: 5px;}
.product-page .sku-code .text strong { font-family: 'latobold'; padding-right: 10px; /*width: 100px;*/ display: inline-block; }
.product-page .select-size {margin-top: 10px; }
.product-page .select-size ul { margin: 0; padding: 0; }
.product-page .select-size ul li { list-style: none; display: inline-block; }
.product-page .select-size ul li strong.text {  font-size: 14px;  color: #4e4e4e;  font-family: 'latobold';  padding-right: 15px;  display: block;  padding-top: 5px; }
.product-page .select-size ul li a { font-size: 14px; color: #4e4e4e; font-family: 'latoregular'; display: inline-block; background: #fff; padding: 5px 10px; border: solid 1px #fff; }
.product-page .select-size ul li a:hover, .select-size ul li a.active { text-decoration: none; border: solid 1px #f1592a; }

.product-page .select-size .btn { margin: 0 3px; font-size: 14px; color: #4e4e4e; font-family: 'latoregular'; display: inline-block; background: #fff; padding: 5px 10px; border: solid 1px #fff; }
.product-page .select-size .btn:hover, .product-page .select-size .btn.active { text-decoration: none; border: solid 1px #f1592a; }
button.buy-now:hover { color:#fff; background:#109076;}
.product-page .product-page-cart strong.text { margin-right: 15px; float: left; line-height: 32px; font-size: 14px; color: #4e4e4e; font-family: 'latobold'; }
.product-page .social-icons { margin: 0; padding: 0 0 0 15px; list-style: none; display: inline-block; }
.align-left { float: left; }
.product-page .social-icons li strong.text { font-size: 14px; color: #4e4e4e; font-family: 'latobold'; }
.product-page h1 ul { display: inline-block; list-style: none; float: right; padding:0px; margin:0px; }
.product-page h1 ul li { display: inline-block; border-left: solid 1px #192f5a; }
.product-page h1 ul li:first-child { border-left: none; }
.product-page h1 ul li a { display: inline-block; padding: 0 8px; color: #192f5a; }
.product-page h1 ul li a:hover { text-decoration: none; }
.steve-madden { background: #fff; padding: 10px; }
.steve-madden h2 { text-transform: uppercase; font-size: 18px; font-family: 'latobold'; color: #000; margin: 15px 0 20px 0; text-align:center; word-break: break-all;}
.steve-madden .view-store-btn { border: none; background: #192f5a; color: #fff; font-size: 14px; width: 100%; display: block; padding: 5px 0; text-align:center;}
.steve-madden .view-store-btn:hover { opacity: 0.9; }
.seller-text { font-size: 11px; color: #4e4e4e; font-family: 'latoregular'; padding: 15px 0; }
.seller-text .text { border: solid 1px #c8c8c8; background: #f3f3f3; padding: 5px 8px; margin-left:2px;}
/* product pop up */
.product-page-content { width: 100%; overflow: hidden; padding: 20px 0; }
.product-page-content .nav-tabs { font-family: 'latoregular'; font-size: 17px; color: #606060; border: none; }
.product-page-content .nav-tabs > li > a { border-bottom: solid 3px #fff; display: inline-block; border-radius: 0; padding: 8px 25px 7px; background: #fff; color: #606060; margin-right: 8px; }
.product-page-content .nav-tabs > li > a:hover, .product-page-content .nav-tabs > li > a:focus { border-bottom: solid 3px #192f5a; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { background: #fff; border: none; border-radius: 0; border-bottom: solid 3px #192f5a; font-family: 'latobold'; }
.product-page-content .tab-content { padding: 20px 15px; background: #fff; margin-bottom: 25px; }
/* datasheet tab */
.product-page-content .datasheet { width: 100%; font-size: inherit; }
.product-page-content .datasheet th { border-bottom: solid 2px #eee; padding-bottom: 5px; font-size: 15px; }
.product-page-content .datasheet td { padding: 5px 20px 5px 0; border-bottom: solid 1px #eee; }
.datasheet-features-type { font-weight: bold; }
.zoom-icon { position: absolute; right: 10px; bottom: 10px; color: #d3d3d3; z-index:6;}
.similar-products { display: block; width: 100%; margin: 0 auto; }
/*--------inner-pages---------*/
.common-heading { width: 100%; }
.common-heading h1 { font-size: 20px; color: #000; font-family: 'latobold'; text-transform: uppercase; padding: 10px 0; margin: 0 auto; width: 100%; display: inline-block; margin-bottom: 20px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.common-heading h1 span { font-size: 14px; margin-left: 10px; color: #e62e04; margin-top: 4px; }
.common-heading h1 span.btn-back a { padding: 6px 10px; }
.career-page { display: block; background: #fff; margin: 0 auto; margin-bottom: 20px; padding: 10px; }
.career-page ul { margin: 0px; padding: 0px; list-style-type: none; }
.career-page li { margin: 0px; padding: 0px; list-style-type: none; border-bottom: 1px dotted #ddd; padding-bottom: 20px; margin-bottom: 20px; }
.career-page li:last-child { border-bottom: 0px dotted #ddd; padding-bottom: 0px; margin-bottom: 0px; }
.product-list { width: 100%; display: block; margin: 0 auto; }
/*----My-cart-----*/
.btn-back { margin: 0px; padding: 0px; }
.btn-back a { padding: 10px 20px; margin-bottom: 0; background: #e62e04; color: #fff; text-transform: capitalize; font-size: 14px; }
.btn-back a:hover { background: #f93; -webkit-transition: all .2s ease-out 0s; -moz-transition: all .2s ease-out 0s; -o-transition: all .2s ease-out 0s; transition: all .2s ease-out 0s; }
.my-cart { display: block; margin-bottom: 20px; }
.data-table { background: #FFF; border: 1px solid #CCC; border-collapse: collapse; width: 100%; margin-bottom: 20px;}
.data-table th { background: #F3F3F3; border-bottom: 1px solid #CCC; border-right: medium none; border-top: 1px solid #CCC; padding: 10px; text-transform: uppercase; white-space: nowrap; color: #333; border-right: 1px solid #CCC; }
.data-table td.sub_ord_name { width:auto;}
.order_table td.tot_amount { padding: 5px 5px!important;}
.nobr { white-space: nowrap!important; }
.data-table td { padding: 15px 20px; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; border-right: 1px solid #CCC; }
.data-table td .input-text { max-width: 50px; text-align: center; }
.btn-cart { font-size: 100%; font-weight: 400; padding: 10px 20px; color: #fff!important; border: none; text-transform: capitalize; background: #666; }
.btn-cart:hover { background: #f93; -webkit-transition: all .2s ease-out 0s; -moz-transition: all .2s ease-out 0s; -o-transition: all .2s ease-out 0s; transition: all .2s ease-out 0s; }
.totals { width: 100%; }
.totals table { width: 100%; border: none; }
.totals td { border: none; padding: 5px 10px; text-align: right; }
.store-name { background: #E6E3E3 !important; color: #E62E04 !important; text-align: left; }
.cart-tab { width: 100%; margin: 10px auto 0px auto; display: block; }
.cart-tab-process { width: 100%; margin: 0px auto; display: inline-block; background: url(../../../images/process-bar.png) 3px 12px repeat-x; }
.step-box1 { display: block; float: left; width: 100%; }
.step-box1.center { float: none; margin: 0 auto; text-align: center; }
.step-box1.last { float: right; text-align: right; }
.step-box1.last p { text-align: right; }
.step-box1 p { text-align: left; padding: 6px 0; font-size: 16px; color: #000; font-weight: bold; }
.step-box1.center p { margin: 0 auto; text-align: center; }
.step-box1 .btn-circle { width: 50px; height: 50px; text-align: center; padding: 6px 0; font-size: 16px; line-height: 32px; border-radius: 50px; background: #fff; border: 2px solid #e62e04; color: #000; font-weight: bold; }
.tppadd { padding-top: 20px; }
.stepwizard { display: table; width: 97%; position: relative; margin: 0px auto; border: 2px solid #F5F5F5; background: #F5F5F5; border-radius: 0px; margin-bottom: 20px; }
.stepwizard-step button[disabled] { opacity: 1 !important; filter: alpha(opacity=100) !important; }
.stepwizard-row { display: table-row; }
.stepwizard-row:before { top: 35px; bottom: 0; position: absolute; content: " "; width: 100%; height: 1px; background-color: #D8D8D8; z-order: 0; }
.stepwizard-step { display: table-cell; position: relative; text-align: center; width: 33%; }
.stepwizard-step p { margin-top: 10px; }
.stepwizard-step a[disabled] { opacity: 1 !important; filter: alpha(opacity=100) !important; }
.stepwizard-step .btn-circle { width: 30px; height: 30px; text-align: center; padding: 6px 0; font-size: 12px; line-height: 1.428571429; border-radius: 15px; background: #192f5a; border: none; color: #fff; margin-top: 20px; }
.stepwizard-step:hover .btn-circle, .stepwizard-step.active .btn-circle { background: #e62e04; }
.delivery-box { display: block; background: #fff; margin: 0 auto; margin-bottom: 20px; }
.delivery-box h3 { border-bottom: 1px solid #ddd; padding: 20px; margin: 0px; margin-bottom: 20px; }
.delivery-box h3 .btn-back a, .common-back h3 .btn-back a { margin-left: 10px; }
.delivery-form { display: block; background: #fff; margin: 20px; padding: 10px; width: 70%; }
.delivery-form.trackorder { width: 50%; margin: 0 auto; text-align: center; }
.delivery-form input.form-control { padding: 6px 10px; border: 1px solid #c8c8c8; font-size: 16px; color: #999;height: 42px; }
.delivery-form select.form-control { padding: 7px; border: 1px solid #c8c8c8; font-size: 16px; color: #999; }
.delivery-form label.control-label { text-align: left; font-weight: 500; }
.payment-process { background: #fff; padding: 0 10px; display: inline-block; width: 100%; }
.payment-box { background: #fff; padding: 10px; display: block; border: 1px solid #ddd; min-height: 350px; }
.btn-common { font-size: 100%; font-weight: 400; color: #fff!important; border: none; text-transform: capitalize; background: #e62e04; border-radius: 0px;/*padding: 10px 20px;margin:20px 0;*/ }
.btn-common:hover { background: #f93; }
.total-payment { background: #ddd; padding: 10px; width: 100%; display: inline-block; font-size: 16px; font-weight: 500; }
.total-payment span { text-align: center; color: #000; }
.payment-through { padding: 10px; display: block; text-align: center; }
/*.payment-through p { padding: 0px; margin: 0px 0; display: block; }*/
.payment-through p { padding: 0px; margin: 2px 0; display: block; text-align: left;}
.payment-through p img { text-align: center; margin: 0 auto; }
.payment-through h2 { text-align: center; font-size: 20px; text-transform: capitalize !important; padding: 10px 0; line-height: 20px; font-weight: 300; margin: 0px; margin-bottom: 20px; }
.yellow-box { background: #FC3; color: #000; padding: 10px 5px; display: block; font-size: 11px; }
.edit-button { display: block; }
.edit-button a { background: #fff; display: block; width: 25px; height: 25px; border-radius: 50px; line-height: 23px; text-align: center; float: left; margin-left: 10px; }
.edit-button a span { font-size: 12px; margin-left: 3px;}
.edit-button a:hover { background: #e62e04; }
.edit-button a:hover span { color: #fff; }
.payment-address { padding: 0px; margin: 20px 0; display: block; }
.payment-address p { font-size: 16px; text-align: left; font-weight: 300; color: #000; }
.small-txt { color: #9C9C9C; font-size: 11px; }
.radio { margin-left: 17px; }
.social-box-new { margin: 100px 0; width: 100%; display: block; }
.social-box-new a { text-align: center; margin-bottom: 30px; display: block; }
.social-box-new a img { margin: 0 auto; }
/*------------------- Review page ---------------------------------*/
.review-lft-section { background: #fff; padding: 15px; margin: 0 0 20px 0; }
.review-lft-section h3 { font-size: 16px; font-family: 'latobold'; padding: 0 0 8px 0; margin: 0 0 15px 0; border-bottom: solid 1px #ccc; }
.review-lft-section .product-details { }
.review-lft-section .product-details img { border: solid 1px #ccc; text-align: center; margin: 0 auto; }
.review-lft-section .product-details strong { font-size: 14px; color: #5f5f5f; display: block; text-align: center; line-height: 22px; padding: 5px 0; font-family: 'latoregular'; }
.review-lft-section .product-details p { font-size: 14px; color: #5f5f5f; font-family: 'latoregular'; }
.form-add { background: #fff; padding: 0px 20px 20px 20px; margin-bottom: 15px; }
.form-add h2 { margin: 0; border-bottom: 1px solid #e62e04; padding: 0 0 10px 0; display: inline-block; font-size: 128.57%; color: #e62e04; font-weight: 400; min-width: 120px }
/*.data-table { background: #FFF; border: 1px solid #CCC; border-collapse: collapse; width: 100%; color: #5f5f5f; font-family: 'latoregular'; }
.data-table thead tr td, .data-table thead tr th { background: #eaeaea; border-bottom: 1px solid #CCC; border-right: medium none; border-top: 1px solid #CCC; padding: 10px; text-transform: uppercase; white-space: nowrap; color: #888 }
.data-table tbody th { text-align: left; border-bottom: 1px solid #CCC; border-right: 1px solid #CCC; padding: 8px }
.data-table tbody td { border-bottom: 1px solid #CCC; border-right: 1px solid #CCC; padding: 8px }
.data-table tbody td.label { vertical-align: middle }
.data-table tbody td a.product-image { display: block }
.data-table tbody td button { min-width: 110px; margin-bottom: 10px }
.data-table tfoot td { padding: 15px 20px; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; border-right: 1px solid #CCC }
.data-table input.input-text { padding: 3px 5px }*/
.form-list { width: 50%; padding: 20px 0 0 0; margin: 0; }
.form-list label.required { font-weight: 700 }
.form-list label.required em { font-variant: normal; color: #eb340a; margin-right: 3px }
.form-list label { font-size: 14px; margin-bottom: 9px; color: #5f5f5f; font-family: 'latoregular'; }
.form-list li { list-style: none; display: block; }
.form-list li input.input-text { height: 32px; border: 1px solid #ddd; padding: 6px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; width: 100%; margin-bottom: 25px; }
.form-list li .input-box textarea { height: 132px; border: 1px solid #ddd; padding: 6px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; width: 100%; margin-bottom: 25px; }
.form-add .buttons-set .button { margin: 0; padding: 0 15px; line-height: 32px; font-size: 14px; font-weight: 400; color: #fff!important; border: none; text-transform: capitalize; background: #666; }
.form-add h3 { font-size: 20px; font-family: 'latoregular'; color: #5f5f5f; margin: 0 0 10px 0; padding: 0 0 10px 0; border-bottom: solid 1px #ccc; }
.form-add h3 span { font-family: 'latobold'; font-size: 18px; }
.form-add h4 { font-size: 18px; font-family: 'latoregular'; color: #000; font-weight: 500; }
.form-add .buttons-set .button:hover { background: #f1592a; }
.form-add .buttons-set .button-cancel { margin: 0; padding: 0 15px; line-height: 32px; font-size: 14px; font-weight: 400; color: #fff!important; border: none; text-transform: capitalize; background: #666; }
.form-add .buttons-set .button-cancel:hover { background: #f1592a; }
/*--------------------- seller page ----------------------*/
.btn-orange { color: #fff; background-color: #f1592a; border-color: #f1592a; border-radius: 0; }
.btn-orange:focus, .btn-orange.focus { color: #fff; background-color: #f6764e; border-color: #f6764e; }
.btn-orange:hover { color: #fff; background-color: #f6764e; border-color: #f6764e; }
.reviewnrating { padding: 0 0 15px; }
.heading-third { font-size: 18px !important; margin: 0 0 10px 0; padding: 0; }
.percentage { font-size: 22px; font-family: 'latobold'; color: #5f5f5f; }
.based-text { font-size: 12px; font-family: 'latoregular'; color: #5f5f5f; }
.comment-reveiw-box { border-top: solid 1px #eee; padding: 10px 0; }
.comment-reveiw-box a{ cursor: pointer; }
.rating-star { margin: 0 0 8px; padding: 0; list-style: none; }
.rating-star li { display: inline-block; }
.rating-star li span { background: url(../../../images/star.png) no-repeat 0 0; width: 14px; height: 15px; display: inline-block; vertical-align: middle; }
.rating-star li span.active { background: url(../../../images/star.png) no-repeat 0 -48px; width: 14px; height: 15px; display: inline-block; vertical-align: middle; }
.review-member-name { font-size: 15px; color: #5f5f5f; font-family: 'latoregular'; padding: 0 0 8px; margin: 0; }
.review-date { font-size: 12px; color: #5f5f5f; font-family: 'latoregular'; padding: 0 0 8px; margin: 0; }
.pagination-box.mrgn-btm-0 { margin-bottom: 0; }
.position-r-t { position: absolute; right: 0; top: 18px; }
/*------------ news page ------------*/
.date-range-news { padding: 0 0 15px 0; font-family: 'latoregular'; }
.date-range-news input[type="text"], .date-range-news input[type="email"] { border-radius: 0; border: solid 1px #ccc; width: 200px; }
.btn-calender { background: none; border: solid 1px #ccc; border-radius: 0px; }
.btn-calender:hover { background: #EFEFEF; }
.news-des h3 { font-size: 18px; font-family: 'latoregular'; color: #5f5f5f; border-bottom: solid 1px #ccc; padding: 10px 0; }
.news-des h3 span { font-size: 12px; font-family: 'latoregular'; color: #5f5f5f; }
/*-------------------- faq page --------------------------*/
.category-lft { background: #fff; }
.media-heading { font-size: 14px; font-family: 'latobold'; color: #5f5f5f; font-weight: normal; display: block; }
.media { font-size: 14px; font-family: 'latoregular'; color: #5f5f5f; padding: 0 0 10px 0; }
/*----------------- site map ------------------------------*/
.sitemap-categary { background: #fff; float: left; width: 100%; padding: 15px; margin-bottom: 15px; }
.sitemap-categary .list-group-item i { display: inline-block; vertical-align: middle; width: 30px; text-align: center; }
.sitemap-categary .list-group-item { margin-bottom: 15px; }
.sitemap-blog { padding: 0 0 30px 0; }
.sitemap-blog i { width: 30px; }
.sitemap-blog h4 { font-size: 16px; font-family: 'latoregular'; color: #5f5f5f; margin: 0; padding: 10px 0; }
.sitemap-blog ul { margin: 0; padding: 0; }
.sitemap-blog ul li { list-style: none; display: inline-block; }
.sitemap-blog ul li a { display: inline-block; padding: 5px 15px; text-decoration: none; font-size: 14px; font-family: 'latoregular'; color: #5f5f5f; }
.sitemap-blog ul li a:hover { text-decoration: none; opacity: 0.7; }
/*----------------------- contact page ------------------------*/
.contact-box { background: #fff; padding: 0px 20px 20px 20px; font-size: 14px; font-family: 'latoregular'; color: #5f5f5f; }
.heading-h2 { font-size: 20px; font-family: 'latoregular'; color: #5f5f5f; text-transform: uppercase; padding: 20px; margin: 0 0 15px 0; border-bottom: solid 1px #ccc; position: relative; }
.contact-box input[type="text"], .contact-box input[type="email"], .contact-box select, .contact-box textarea { border-radius: 0; box-shadow: none; }
.captcha-input { padding: 5px 10px 7px 10px; border: solid 1px #ccc; width:116px; }
.btn-default-site { background: #e62e04; border: medium none; color: #fff !important; font-size: 100%; font-weight: 400; padding: 10px 20px; border-radius: 0; }
.btn-default-site:hover { background: #f1592a; }
.btn-default-cancel { background: #333; border: medium none; color: #fff !important; font-size: 100%; font-weight: 400; padding: 10px 20px; border-radius: 0; }
.btn-default-cancel:hover { background: #f1592a; }
/*-------------- Notification page -----------------*/
.notifications-left { font-family: 'latoregular'; color: #5f5f5f; }
.notifications-left .panel-body .panel-title { font-size: 14px; font-family: 'latobold'; border-bottom: solid 1px #ccc; padding: 10px 0; margin: 0 0 8px 0; }
.order-list { margin: 0; padding: 0; list-style: none; }
.order-list li { display: block; padding: 0 0 0 10px; }
.order-list li a { display: block; padding: 5px 0; text-decoration: none; font-family: 'latoregular'; color: #5f5f5f; font-size: 14px; }
.order-list li a:hover { opacity: 0.7; }
.date-day { font-family: 'latoregular'; color: #5f5f5f; font-size: 12px; }
.nav-tabs.jarry-tab { border-bottom: solid 1px #192f5a; }
.nav-tabs.jarry-tab > li > a { font-family: 'latobold'; color: #5f5f5f; }
.nav-tabs.jarry-tab > li > a:hover { margin-right: 2px; line-height: 1.42857143; border: 1px solid transparent; border-radius: 4px 4px 0 0; background-color: #192f5a; color: #fff; cursor: pointer; border-bottom: solid 2px #192f5a; }
.nav-tabs.jarry-tab > li.active > a { border: solid 1px #192f5a; border-bottom: solid 3px #fff; border-radius: 4px 4px 0 0; color: #192f5a; }
.nav-tabs.jarry-tab > li.active > a:hover, .nav-tabs.jarry-tab > li.active > a:focus { border: solid 1px #192f5a; border-bottom: solid 3px #fff; border-radius: 4px 4px 0 0; color: #192f5a; }
.nav-tabs.jarry-tab > li.active > a:hover { color: #fff; }
.my-address-tab-content { padding: 20px; border: solid 1px #192f5a; border-top: none; position: relative; z-index: 1; margin-top: -1px; }
/*------today-css--*/

.common-back { background: #fff; display: inline-block; width: 100%;/* min-height: 550px;*/ margin-bottom: 30px; }
.common-back h3 { border-bottom: 1px solid #ddd; padding: 5px; margin: 0px; margin-bottom: 8px; }
.common-back p { font-size: 14px; color: #000; padding: 0px 20px 0px 20px; margin: 0; text-align: left; font-weight: 500; line-height: 22px; }
.btn { border-radius: 0px; }
p, input, textarea, select, button, a, h1, h2, h3, h4, h5, h6, submit { outline: none; font-weight: 500; }
.contact-info { display: block; padding: 40px; border: 1px solid #ddd; }
.contact-info h4 { padding: 20px 0; margin: 0px; margin-bottom: 20px; font-size: 24px; font-weight: 500; }
.contact-info p { font-size: 18px; color: #4A4A4A; padding: 10px 0; margin: 0; text-align: left; font-weight: 500; }
.contact-info p span { margin-right: 10px; }
.form-horizontal .control-label { color: #4A4A4A; font-weight: 500; }
.inner-box { display: block; width: 97%; margin: 0px auto; }
.table-box { display: block; margin: 0px auto; padding: 0px 20px 20px 20px; }
.seller-zone { padding: 10px; margin-top: 25px; }
.panel { border-radius: 0px; }
.show-review { font-size: 16px; font-weight: 500; line-height: 25px; }
.show-review span { font-size: 16px; font-weight: bold; line-height: 25px; }
.noti-list { display: block; width: 96%; margin: 0 auto; margin-top: 15px;}
.noti-list ul { margin: 0px; padding: 0px; list-style-type: none; }
.noti-list li { margin: 0px; padding: 0px; list-style-type: none; border-bottom: 1px solid #ddd; margin-bottom: 10px; display: block; }
.noti-list li p { padding: 10px 0; margin: 0px; }
.inner-form { width: 100%; padding: 0px 40px; padding-bottom:1px; }
/*----------- my wish list page ------------------*/
.head-sub-right-select { position: absolute; right: 0; top: 0px; font-size: 14px; width: 165px; float: right; }
.head-sub-right-select select { width: 98px !important; }
.head-sub-right-select select option { width: 100%; }
.head-sub-right-select span { float: left; width: 65px; padding: 10px 0 0 0; }
.products-list { margin: 0; padding: 0; font-family: 'latoregular'; }
.products-list li { list-style: none; }
.products-list li:first-child { padding-top: 0!important }
.products-list .item { /*float: left;*/ width: 100%; padding-top: 15px; display: block; margin: 0; }
.products-list .item .inner-item { position: relative; border: 1px solid transparent; border-bottom: 1px solid #e8e8e8; padding: 20px; overflow: hidden }
/*.products-list .item .inner-item:hover { border: 0px solid #e8e8e8 }*/
.products-list .item .inner-item .item-image { float: left; width: 31.0344%; margin-right: 3.4482%; position: relative }
.products-list .item .inner-item .item-image .inner { display: block; overflow: hidden; position: relative }
.products-list .item .inner-item .item-image .new-item, .products-list .item .inner-item .item-image .sale-item { position: absolute; top: -7px; z-index: 999 }
.products-list .item .inner-item .item-image .new-item { left: 10px }
.products-list .item .inner-item .item-image .sale-item { right: 10px; left: auto }
.products-list .item .inner-item .item-image .product-image { display: block; position: relative; height:247px; text-align:center; padding:8px;}
/*.products-list .item .inner-item .item-image .product-image:before { content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; border: 1px solid #e62e04; opacity: 0; filter: alpha(opacity=0) }*/
.products-list .item .inner-item .item-image .product-image img { width:auto ; height:100%; margin:auto; }
.products-list .item .inner-item .item-image:hover .product-image:before { opacity: 1; filter: alpha(opacity=100) }
.products-list .item .inner-item .item-image:hover .product-image img { opacity: .5; filter: alpha(opacity=50); -webkit-transition: all .3s ease-out 0s; -moz-transition: all .3s ease-out 0s; -o-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s }
.products-list .item .inner-item .item-image .vt_quickview_handler { position: absolute; top: 50%; right: -100%; min-width: 112px; text-align: center; font-size: 100%; background: rgba(255,255,255,.9); text-transform: uppercase; margin-right: -56px; margin-top: -20px; line-height: 40px; -webkit-transition: all .3s ease-out 0s; -moz-transition: all .3s ease-out 0s; -o-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s }
.products-list .item .inner-item .item-image .vt_quickview_handler:hover { color: #fff; background: #7588c3 }
.products-list .item .inner-item .item-image:hover .vt_quickview_handler { right: 50%; -webkit-transition: all .3s ease-out 0s; -moz-transition: all .3s ease-out 0s; -o-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s }
.products-list .item .inner-item .product-shop { float: left; background: #fff; width: 65.5174%; min-height: 270px }
.products-list .item .inner-item .product-shop .product-name { font-size: 128.57%; margin: 5px 0 6px }
.products-list .item .inner-item .product-shop .product-name a { text-transform: capitalize; color: #666; font-size: 22px; display:block; width:70%;}
.products-list .item .inner-item .product-shop .desc { float: left; margin: 15px 0 0 }
.products-list .item .inner-item .product-shop .price-box { width: 100%; float: left; margin-bottom: 5px }
.products-list .item .inner-item .product-shop .ratings { float: left; margin: 0 0 10px }
.products-list .item .inner-item .product-shop .wrap-sku { float: left; width: 100%; margin: 0 0 5px }
.products-list .item .inner-item .product-shop .wrap-sku label { font-weight: 400; margin: 0 5px 0 0 }
.products-list .item .inner-item .product-shop .wrap-pio { float: left; width: 100% }
.products-list .item .inner-item .product-shop .wrap-pio label { font-weight: 400; margin: 0 5px 0 0 }
.products-list .item .inner-item .product-shop .wrap-pio span { color: #d3b627 }
.products-list .item .inner-item .product-shop .wrap-btn-prolist { float: left; width: 130px; position: absolute; top: 32px; right: 20px }
.products-list .item .inner-item .product-shop .wrap-btn-prolist .btn-cart, .products-list .item .inner-item .product-shop .wrap-btn-prolist .out-of-stock { color: #fff; font-size: 100%; line-height: 36px; margin-bottom: 10px; float: left; background: #f93; cursor: pointer; text-transform: capitalize; width: 100%; text-align: center }
.products-list .item .inner-item .product-shop .wrap-btn-prolist .btn-cart span, .products-list .item .inner-item .product-shop .wrap-btn-prolist .out-of-stock span { position: relative; display: inline-block; padding-left: 22px }
.products-list .item .inner-item .product-shop .wrap-btn-prolist .btn-cart span:before, .products-list .item .inner-item .product-shop .wrap-btn-prolist .out-of-stock span:before { content: '\f07a'; font-family: FontAwesome; font-size: null; top: 12px; left: 1px; position: absolute; line-height: 100%; color: #fff }
.products-list .item .inner-item .product-shop .wrap-btn-prolist .btn-cart:hover, .products-list .item .inner-item .product-shop .wrap-btn-prolist .out-of-stock:hover { background: #e62e04 }
.products-list .item .inner-item .product-shop .item-btn { float: left; -webkit-transition: all .2s ease-out 0s; -moz-transition: all .2s ease-out 0s; -o-transition: all .2s ease-out 0s; transition: all .2s ease-out 0s; padding-left: 2px }
.products-list .item .inner-item .product-shop .item-btn .link-compare, .products-list .item .inner-item .product-shop .item-btn .link-wishlist, .products-list .item .inner-item .product-shop .item-btn .vt_quickview_handler { width: 10px; height: 25px; float: left; /*border: 1px solid #e8e8e8;*/ position: relative; margin-right: 10px }
.products-list .item .inner-item .product-shop .item-btn .vt_quickview_handler { text-indent: -9999em; margin-right: 0 }
.products-list .item .inner-item .product-shop .item-btn .vt_quickview_handler:before { width: 26px; height: 20px; float: left; position: absolute; top: 7px; left: 11px; content: "\f002"; font-family: FontAwesome; text-indent: 0; color: #5f5f5f; }
.products-list .item .inner-item .product-shop .item-btn .link-compare:before { width: 20px; height: 25px; float: left; position: absolute; top: 7px; left: 11px; content: "\f021"; font-family: FontAwesome; color: #5f5f5f; }
.products-list .item .inner-item .product-shop .item-btn .link-wishlist:before { width: auto; height: 20px; float: left; position: absolute; top: 0px; left: 0px; content: "\f08a"; font-family: FontAwesome; font-weight: 700; color: #5f5f5f; }
.products-list .item .inner-item .product-shop .item-btn a { position: relative }
.products-list .item .inner-item .product-shop .item-btn a:hover { border-color: #f93; -webkit-transition: all .2s ease-out 0s; -moz-transition: all .2s ease-out 0s; -o-transition: all .2s ease-out 0s; transition: all .2s ease-out 0s }
.products-list .item .inner-item .product-shop .item-btn a:hover:before { color: #5f5f5f; }
.price-box .price-through { text-decoration: line-through; color: #666; font-size: 100%; }
.price-box .price { color: #e62e04; font-size: 26px; }
.price-box .price-parsent { font-size: 18px; color: #e62e04; }
.rating-box { background: url(../../../images/bkg_rating.png) 0 6px repeat-x; display: inline-block; height: 17px; position: relative; vertical-align: middle; width: 77px; margin: 0; float: left; }
.rating-box .rating { background: url(../../../images/bkg_rating.png) 0 100% repeat-x; height: 100%; left: 0; position: absolute; top: 0; }
.ratings .amount { display: inline-block; height: 100%; margin-left: 10px; }
.ratings .amount a { color: #5f5f5f; }
.wishlist-list { width: 96%; margin: 0px auto 20px auto; }
.btn-cart { padding: 0px; width: auto; }
/*------------------------- return order page -----------------------------*/
.return-t-order-main { border: solid 1px #ccc; padding: 15px 15px 0; display: inline-block; width: 100%; background: #F7F7F7; margin-bottom: 15px; }
.return-t-order { font-size: 16px; font-family: 'latoregular'; color: #5f5f5f; padding-bottom: 15px; }
.return-t-order strong { font-size: 16px; font-family: 'latobold'; color: #5f5f5f; width: 40%; display: inline-block; }
.return-order-form { border: solid 1px #ccc; padding: 15px; }
.file-upload-btn { background: none; border: solid 1px #ccc; padding: 5px; display: inline-block !important; margin-right: 5px; vertical-align: top; }
.file-upload-img { width: 34px; height: 34px; display: inline-block; border: solid 1px #ccc; position: relative; margin-right: 8px; }
.file-upload-img img { width: 32px; height: 32px; }
.file-upload-img-close { position: absolute; top: -10px; right: -5px; color: #333; }
.file-upload-img-close:hover { color: #FF1919; }
.file-upload-help { color: #333; }
/*---------------------- order detail page -------------------------------*/
.print-btn-h { border-bottom: solid 1px #ccc; padding: 5px 0; float: left; width: 100%; margin-bottom: 20px; }
.panel-blue { border-color: #192f5a; border-radius: 0; }
.panel-blue > .panel-heading { color: #fff; background-color: #192f5a; border-color: #192f5a; border-radius: 0; }
.panel-my-default { border-color: #ccc; border-radius: 0; }
.panel-my-default > .panel-heading { color: #fff; background-color: #EFEFEF; border-color: #ccc; border-radius: 0; }
.order-detail-box-h { color: #333; }
.order-detail-box-h .strong-txt { width: 50%; display: inline-block; }
.table-mrgn-btm { margin: 0; }
.checkbox-list-remember { margin: 0; padding: 0; }
.checkbox-list[type=checkbox] { opacity: 0; float: left; }
.checkbox-list[type=checkbox] + label { position: relative; font-size: 16px; color: #7b7b7b; display: block; padding: 2px 0 8px 25px; }
.checkbox-list[type=checkbox] + label::before { content: ' '; position: absolute; left: 0; top: 3px; width: 17px; height: 17px; display: block; background: white; border: 1px solid #b5c1ca; border-radius: 1px; }
.checkbox-list[type=checkbox] + label::after { content: ' '; position: absolute; left: 4px; top: 7px; width: 9px; height: 5px; display: block; z-index: 1; border-bottom: 2px solid #57c3f0; border-left: 2px solid #57c3f0; -ms-transition: all .2s ease; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; transition: all .3s ease; -ms-transform: scale(0) rotate(0deg); -webkit-transform: scale(0) rotate(0deg); -moz-transform: scale(0) rotate(0deg); transform: scale(0) rotate(0deg); opacity: 0; }
.checkbox-list[type=checkbox]:checked + label::after { -ms-transform: scale(1) rotate(-45deg); -webkit-transform: scale(1) rotate(-45deg); -moz-transform: scale(1) rotate(-45deg); transform: scale(1) rotate(-45deg); opacity: 1; }
.order-total { background-color: #eee; border: 0; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; border-radius: 0; }
.static-info { margin-bottom: 10px; font-family: 'latoregular'; }
.static-info.align-reverse .name, .static-info.align-reverse .name-total, .static-info.align-reverse .value, .static-info.align-reverse .value-total { text-align: right; }
.static-info .name { font-size: 14px; }
.static-info .value { font-size: 14px; font-family: 'latobold'; }
.static-info .name-total { font-size: 18px; }
.static-info .value-total { font-size: 18px; font-family: 'latobold'; }
.remove-link { background: #ddd; padding: 2px 10px; margin-top: 10px; color: #E62E04; display: inline-block; font-weight: 500; font-size: 12px; }
.buy-now { background: #1bad90; color: #fff; margin-right: 10px; text-transform: uppercase; }
.box-my-account { position: relative; }
.box-my-account ul { margin: 0px; padding: 0px; list-style-type: none; }
.box-my-account li { padding: 0px; margin: 0px; list-style-type: none; }
.box-my-account li a { text-transform: capitalize; line-height: 32px; padding: 0 15px; display: inline-block; color: #666; }
.box-my-account li a:hover { background: #f1592a; display: block; color: #fff; }
.box-my-account:hover .block-cart .block-content { top: 32px; left: 0px; width: 180px; }
.box-my-account:hover .block-cart .block-content .inner { padding: 0px; }
/*----------------------- popup ------------------------*/
.jarry-popup { z-index: 9998; }
.jarry-popup .modal-content { border-radius: 0; border: solid 1px #fff; }
.btn-default-j { border-radius: 0; }
.btn-primary-j { border-radius: 0; background-color: #e62e04; border-color: #e62e04; }
.btn-primary-j:hover { background-color: #f1592a; border-color: #f1592a; }
.pad-w-0 { padding: 0; }
.or-txt { font-size: 20px; font-family: 'latobold'; color: #5f5f5f; display: table-cell; vertical-align: middle; height: 85px; width: 150px; text-align: center;}
.fb-link-btn { display: inline-block; margin-bottom: 10px; }
.btn-info-j { border-radius: 0; background-color: #192f5a; border-color: #192f5a; }
.btn-info-j:hover { background-color: #2a4e94; border-color: #2a4e94; }
.data-table tr:nth-child(even) { background: #FFF; }
.data-table tr:nth-child(odd) { background: #FBFBFB; }
.data-table.new td { padding: 7px 20px; }
.data-table.new td a { color: #000; font-weight: 500; }
.data-table.new td a:hover { color: #999; font-weight: 500; }
.btn-track-order { background: #f93; color: #fff !important; border-radius: 2px; padding: 3px 7px; font-size: 12px; }
.btn-track-order:hover { background: #192f5a; color: #fff; border-radius: 2px; }
.btn-reset { font-size: 100%; font-weight: 400; color: #fff!important; border: none; text-transform: capitalize; background: #192f5a; border-radius: 0px; }
.btn-reset:hover { background: #f93; }
.btn-Pending { background: #FFA80A; font-size: 11px; color: #fff; padding: 3px 10px; border-radius: 2px; }
a:hover.btn-Pending, a:hover.btn-Cancel, a:hover.btn-Delivered, a:hover.btn-In-Process, a:hover.btn-Shipped, a:hover.btn-Close,
a:focus.btn-Pending, a:focus.btn-Cancel, a:focus.btn-Delivered, a:focus.btn-In-Process, a:focus.btn-Shipped 
{ color: #fff;}
.btn-Cancel { background: red; font-size: 11px; color: #fff; padding: 3px 10px; border-radius: 2px; }
.btn-Delivered { background: #5CB85C; font-size: 11px; color: #fff; padding: 3px 10px; border-radius: 2px; }
.btn-In-Process { background: #F0AD4E; font-size: 11px; color: #fff; padding: 3px 10px; border-radius: 2px; }
.btn-Shipped { background: #5bc0de; font-size: 11px; color: #fff; padding: 3px 10px; border-radius: 2px; }
.btn-Close { background: #337ab7; font-size: 11px; color: #fff; padding: 3px 10px; border-radius: 2px; }
.btn-Unpaid { background: #FFA80A; font-size: 11px; color: #fff; padding: 3px 10px; border-radius: 2px; }
.btn-Paid { background: #5CB85C; font-size: 11px; color: #fff; padding: 3px 10px; border-radius: 2px; }
a.order_id ,a.tOrder_id , a.review_order_detail {cursor: pointer;}
.popup-login-content { padding: 10px 0px;}
.content-signin-btn {width: 100%;}
.popup-signup-content { padding: 10px 0px;}
.content-signup-btn {width: 100%;}

 /*------------ top header sub nav --------------------------*/
.top-nav-h-sub { top: 32px !important; width: 150px !important; }
.top-nav-h-sub.new { top: 32px !important; width: 230px !important; }
.top-nav-h-sub .inner { padding: 0 !important; margin: 0; }
/*---------------------- filter nav --------------------*/
.filter-block ul li a { padding: 0 18px 0 0; }
.filter-block ul li a .fa-chevron-down { margin-right: -18px; float: right; padding-top: 7px; }
.filter-block ul li ul li a { font-size: 14px; font-family: 'latoregular'; padding-left: 10px; }
/*--------------------- product detail page -----------------*/
/*#overviewBlk { padding-bottom: 20px; padding-top: 0 }
.posRelative { position: relative }
.left-card-height-cache { left: 0; height: 100%; overflow: hidden; position: absolute }
.reset-padding {padding: 0;}
.pdp-electronics-topconatiner {height: auto; font-family: robotoRegular;}
.pdp-electronics-topconatiner .pdp-electronics-topleft-inner {
    padding: 10px 10px 0 10px;
    height: 98%;
}*/
.larg-img-product-lft { background: #fff; padding: 15px 10px; }
.larg-img-product { position: relative; }
.larg-img-product .wish-icon { position: absolute; right: -5px; top: -5px; border: solid 1px #ccc; padding: 5px 7px; border-radius: 100%; width: 30px; height: 30px; color: #5f5f5f; }
.larg-img-product .wish-icon:hover { background: #ccc; }
.larg-img-product-list { margin: 0; padding: 20px 0 0 0; list-style: none; }
.larg-img-product-list li { display: inline-block; }
.larg-img-product-list li a { border-bottom: solid 2px #fff; display: inline-block; }
.larg-img-product-list li a:hover, .larg-img-product-list li a.active { border-bottom: solid 2px #F00; }
.background-white { background: #fff; padding: 15px; }
.pdp-elec-topcenter-inner { }
.pdp-elec-topcenter-inner h1 { font-size: 18px; font-family: 'latobold'; color: #5f5f5f; margin: 0 0 10px 0; padding: 0; }
.width-auto { width: auto; }
.mrgn-rgt-10 { margin-right: 10px; }
.attach-arrow { position: relative; }
.pdp-e-i-ratereviewQA a { color: #444; cursor: pointer; font-family: 'latoregular'; }
.ratings-wrapper a, .review-wrapper a { text-decoration: none; }
.attach-arrow:after { content: ''; border-color: transparent transparent #ededed #ededed; z-index: 7; top: 22px; display: inline-block; width: 18px; height: 18px; position: absolute; border-style: solid; transform: rotate(134deg); -webkit-transform: rotate(134deg); -moz-transform: rotate(134deg); -ms-transform: rotate(134deg); left: auto; border-width: thin; background-color: #fff; }
.materialDesignRevamp [data-icon]:before, .sd-icon { display: inline-block; font-family: "snapdeal_font1"; font-style: normal; font-weight: normal; font-variant: normal; line-height: 1; text-decoration: inherit; text-rendering: optimizeLegibility; text-transform: none; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }
.rat-Img:before { font-size: 12px; }
.sd-icon-expand-arrow:before { content: "\f124"; }
div#ratings-details-box-outer { margin-top: 0px; margin-left: -19px; background: #fff; position: absolute; color: #565656; font-size: 13px; line-height: 12pt; padding: 0; box-shadow: 0 0 3px 2px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 3px 2px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 3px 2px rgba(0,0,0,0.1); z-index: 3; border: 1px solid #ccc; border-radius: 5px; width: 400px; }
.product_infogram { padding: 27px 0 22px; color: #000; }
.rating-info { text-align: center; margin: 25px 0 10px; }
.ratetxt span { font-size: 45px; color: #767676; }
.product_infogram .ratetxt small { line-height: 10px; font-size: 15px; display: block; padding-top: 10px; padding-bottom: 15px; }
.rating-histogram { padding-left: 20px; margin-left: -2px;/*min-width: 240px;*/ }
.rating-histogram:before { position: absolute; left: 0; top: 1px; bottom: 0; border-left: dotted 1px #e8e8e8; content: ""; }
.rating-histogram-header { margin-bottom: 10px; }
.product_infogram .row { width: 100%; margin: 0; }
#ratings-wrapper { display: inline-block; cursor: pointer; width: 100%; }
.product_infogram .row span { font-size: 10px; color: #9e9e9e; }
.lfloat { float: left; }
.product_infogram .row .barover { background: #f6b800; height: 9px; margin: 0 3px 0 8px; width: 100px; display: inline-block; }
.product_infogram .row span { font-size: 10px; color: #9e9e9e; }
.productWriteaReview { background: #fafafa; padding: 10px; text-align: center; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; display: block; margin-top: 10px; }
.pdp-e-i-ratereviewQA a { color: #444; cursor: pointer; font-size: 14px; }
.rating-center { float: none; text-align: center; margin: 0 auto; display: inline-block; }
.ratiing .toolTip-box-outer { display: none; }
.ratiing .attach-arrow:after { display: none; }
.ratiing:hover .toolTip-box-outer { display: block; }
.ratiing:hover .attach-arrow:after { display: block; left: 30px; top: 12px; }
.pdp-e-i-ratings { display: inline-block; border-right: solid 1px #ccc; padding-right: 5px; }
.remove-underline { display: inline-block; border-right: solid 1px #ccc; padding-right: 5px; }
.ratings-wrapper.pdp-e-i-qa { display: inline-block; }
.pdp-e-i-keyfeatures { margin-top: 20px; display: block; float: left; }
.pdp-e-i-keyfeatures ul { list-style: none; margin: 0; padding: 0; }
.pdp-e-i-keyfeatures ul li { color: #9e9e9e; width: 28%; float: left; white-space: nowrap; display: table-cell; font-family: 'latoregular'; font-size: 14px; margin-right: 20px; text-overflow: ellipsis; overflow: hidden; line-height: 21px; }
.pdp-e-i-keyspecs a { text-decoration: none; color: #5f5f5f; font-family: 'latobold'; font-size: 14px; }
.clear { clear: both; }
.pdp-e-i-MRP { margin-bottom: 8px; font-family: 'latoregular'; font-size: 14px; }
.pdp-e-i-MRP-l { color: #9e9e9e; min-width: 78px; }
.pdp-e-i-MRP-r { color: #19bc9c; text-align: right; }
.pdp-e-i-MRP-r strike, .pdp-e-i-MRP-r s, .pdp-e-i-MRP-r .rsDiv { color: #9e9e9e; }
.pdp-e-i-SAVE { color: #19bc9c; margin-bottom: 11px; font-family: 'latoregular'; font-size: 14px; }
.pdp-e-i-SAVE-l, .pdp-e-i-PAY-l { text-transform: capitalize; min-width: 78px; }
.pdp-e-i-SAVE-r, .pdp-e-i-PAY-r { text-align: right; }
.pdp-e-i-PAY { font-size: 26px; line-height: 27px; }
.pdp-e-i-PAY .pdp-e-i-PAY-l { color: #5f5f5f; font-family: 'latoregular'; font-size: 22px; }
.pdp-e-i-PAY .pdp-e-i-PAY-r span { color: #5f5f5f; font-family: 'latoregular'; font-size: 22px; }
.pdp-e-i-PAY .pdp-e-i-PAY-r span .payBlkBig { color: #333; }
.pdp-e-i-PAY .pincode-emi.electronics { color: #5f5f5f; font-size: 12px; font-family: 'latoregular'; }
.pdp-e-i-alloffers { border: 1px dashed #9cded2; margin: 15px 0 5px; position: relative; padding: 0; display: table; width: 515px; max-width: 640px; height: 33px; margin-bottom: 0; cursor: pointer; }
.row.pdp-e-i-alloffers>div { padding-top: 2px; }
.col-xs-18 { width: 75%; }
.pdp-e-i-alloffers>div .electronics.freebieNotPresentClass { max-width: 321px; display: inline-block; overflow: hidden; white-space: nowrap; }
.rightMostFluidBtn { position: absolute; right: 0; top: 0; }
.rightMostFluidBtnInner { background: transparent; width: 140px; position: absolute; }
.pdp-e-i-alloffers-button { margin: auto; position: absolute; left: 0; right: 0; top: 0; background: transparent; bottom: 0; float: right; line-height: 16px; width: 120px; }
.teal-button { font-size: 12px; border-radius: 2px; text-align: center; white-space: nowrap; padding: 0; color: #fff; text-transform: uppercase; }
.pdp-e-i-alloffers-button a { color: #fff; height: 100%; margin: auto; left: 0; border: 3px solid #1bad90; right: 0; background: #19bc9c; top: 0; bottom: 0; width: 114px; line-height: 21px; display: table; cursor: pointer; }
.pdp-e-i-alloffers-button i { vertical-align: middle; font-style: normal; padding: 0 7px; }
.row.pdp-e-i-alloffers>div span:first-child { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: auto; color: #5f5f5f; font-family: 'latoregular'; font-size: 14px; padding: 3px 7px 0; }
.pdp-e-i-alloffers1 { color: #5f5f5f; font-family: 'latoregular'; font-size: 14px; padding: 10px 0 0 0; }
.pdp-e-i-alloffers1 input { width: 143px; padding: 3px; display: inline-block; vertical-align: top; }
.pincode-check-bttn { margin-bottom: 2px; margin-left: 3px; line-height: 26px; background: #999; color: #fff; font-family: 'latoregular'; border: none; border-radius: 3px; padding: 2px 10px; display: inline-block; }
.pincode-check-bttn:hover { background: #CCC; }
.btn-buynow { background: #ff8831; padding: 8px 0px; color: #fff; text-transform: uppercase; font-family: 'latoregular'; font-size: 18px; border-radius: 4px; border: solid 2px #ff8831; width: 175px; }
.btn-buynow:hover { opacity: 0.9; color: #fff; }
.btn-buynow-strock { background: #fff; padding: 8px 0px; color: #ff8831; text-transform: uppercase; font-family: 'latoregular'; font-size: 18px; border-radius: 4px; border: solid 2px #ff8831; width: 175px; }
.btn-buynow-strock:hover { color: #fff; background: #ff8831; }
.mrgn-t-15 { margin-top: 15px; }
.sold-buy-txt { padding: 0 0 5px 0; color: #9e9e9e; font-family: 'latoregular'; font-size: 12px; }
.brand-txt-link { padding: 0 0 5px 0; color: #5f5f5f; font-family: 'latoregular'; font-size: 12px; text-decoration: none; }
.brand-txt-link:hover { text-decoration: underline !important; color: #5f5f5f; }
.pdp-e-seller-info-score { padding: 5px 0; white-space: nowrap; }
.pdp-e-seller-info-score span { font-size: 13px; text-transform: capitalize; color: #5f5f5f; display: inline-block; white-space: nowrap; font-family: 'latoregular'; }
.label-blue { background-color: #3cb3ed; }
.pdp-e-sd-fulfilled { font-size: 13px; color: #444; padding: 0 0 10px 0; }
.sd-common-sprite { background: url(../../../images/sellerInfoSprite.png) no-repeat; height: 19px; width: 53px; }
.sd-common-sprite.sd-fulfilled { display: table-cell; background-position: 4px 0px; }
.snapful { display: table-cell; vertical-align: middle; padding-left: 7px; font-size: 12px; }
.pdp-e-sd-brand-authorised { margin-bottom: 10px; }
.sd-authorised { background-position: -81px 0px !important; height: 25px !important; width: 44px !important; margin-left: 7px; display: table-cell; }
.pdp-e-snapdeal-gaurantee { padding: 20px; }
.pdp-e-snapdeal-gaurantee-head { padding-bottom: 15px; color: #212121; font-size: 13px; font-family: 'latoregular'; }
.pdp-e-trustpaytext { font-size: 12px; color: #adadad; line-height: 18px; font-family: 'latoregular'; }
/*-------------- item detail ----------*/
.item-deaitl .panel-default > .panel-heading { background: none; border-color: none; padding: 10px 0; }
.item-deaitl .panel-group .panel { border: none; }
.item-deaitl .fa-plus-square-o { display: none; }
.item-deaitl .fa-minus-square-o { display: inline-block; }
.item-deaitl .collapsed .fa-plus-square-o { display: inline-block; }
.item-deaitl .collapsed .fa-minus-square-o { display: none; }
.dtls-list { margin: 0; padding: 0; }
.dtls-list li:before { content: '-'; font-size: 12px; position: absolute; top: 0px; left: 0px; }
.dtls-list li { width: 48%; font-size: 14px; color: #5f5f5f; font-family: 'latoregular'; list-style: none; position: relative; padding: 0 0 0 2%; display: inline-block; }
.technical-des { }
.technical-des h4 { font-size: 18px; color: #5f5f5f; font-family: 'latoregular'; }
.technical-des-main { display: inline-block; width: 100%; margin-bottom: 10px; }
.technical-des-lft { font-size: 14px; color: #ccc; font-family: 'latoregular'; }
.technical-des-rgt { font-size: 14px; color: #5f5f5f; font-family: 'latoregular'; }
.technical-des1 { font-size: 14px; color: #5f5f5f; font-family: 'latoregular'; }
.technical-des1 p { font-size: 14px; color: #5f5f5f; font-family: 'latoregular'; padding: 0 0 15px 0; }
.case-list { margin: 0; padding: 0; }
.case-list li { font-size: 14px; color: #5f5f5f; font-family: 'latoregular'; margin: 0; padding: 0 0 0 10px; position: relative; list-style: none; }
.case-list li:before { content: '-'; font-size: 12px; position: absolute; top: 0px; left: 0px; }
.case-list li a { font-size: 14px; color: #5f5f5f; font-family: 'latoregular'; margin: 0; padding: 0; text-decoration: none; }
.case-list li a:hover { text-decoration: underline !important; color: #5f5f5f; }
.emiToolTp { position: relative; }
.emiToolTp .emi-dropdown { display: none; }
.emiToolTp .emi-dropdown:after { content: ''; border-color: transparent transparent #ededed #ededed; z-index: 7; top: -10px; left: 20px; display: inline-block; width: 18px; height: 18px; position: absolute; border-style: solid; transform: rotate(134deg); -webkit-transform: rotate(134deg); -moz-transform: rotate(134deg); -ms-transform: rotate(134deg); border-width: thin; background-color: #fff; }
.emiToolTp:hover .emi-dropdown { display: block; position: absolute; left: 0; top: 20px; }
.news-des { font-size: 14px; color: #5f5f5f; font-family: 'latoregular'; }
.news-des h3 a { font-size: 18px; font-family: 'latoregular'; color: #5f5f5f; }
.news-des h3 a:hover { opacity: 0.7; }
.news-des h4 { font-size: 22px; color: #5f5f5f; padding: 0px 0 15px 0; border-bottom: none; font-weight: normal; }
.news-des h4 span { font-size: 16px; color: #5f5f5f; }
.user { display: none; }
.qty-txt { padding: 6px 0 0 0; font-size: 14px; color: #5f5f5f; display: inline-block; }
.text-danger-j { color: #e62e04; cursor: pointer; }
.user-inner-btn { background: #f1592a; text-align: center; padding: 10px 0; }
.user-icon-bg { border-radius: 100%; border: solid 1px #fff; width: 60px; height: 60px; position: relative; margin: 0 auto; background: #fff; }
.user-icon-bg .fa-user { color: #B5ADAD; padding: 7px 10px 10px 11px; font-size: 40px; }
.btn-default-j-b { color: #fff; border: solid 1px #fff; border-radius: 3px; min-width: 100px; text-align: center; padding: 4px 0; background: none; margin: 10px 3px 0; }
.btn-default-j-b:hover { background: #fff; color: #f1592a; }
.faqHeader { font-size: 27px; margin: 20px; }
.panel-heading [data-toggle="collapse"]:after { font-family: 'Glyphicons Halflings'; content: "\2212";  /* "play" icon */ float: right; color: #454444; font-size: 18px; line-height: 22px; /* rotate "play" icon from > (right arrow) to down arrow */
-webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -ms-transform: rotate(-180deg); -o-transform: rotate(-180deg); transform: rotate(-180deg); }

.panel-heading [data-toggle="collapse"].collapsed:after {  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); content: "\002b";color: #F58723;}
.modal-backdrop { z-index: 9997; }
div#myModal3, div#myModal4, div#myModal5, div#myModal6, div#myModal0, div#myModal1, div#myModal { z-index: 99999;}


.max-width { max-width:310px;}
.panel-group .panel { border-radius:0px;}

.res-logo { display:block;}
.navbar-header {width:100%;}
#footwear{height:200px;}
#sizes{height:200px;}
#brands{height:200px;}
.dis p a { color:#333; font-size:12px;}
.dis p a:hover { color:#f1592a; }
.product-page h1 span { float:left; width:70% }
.container.padding-20 { padding:0px 20px;}
#product_sendtofriend_form .fieldset { padding:0px 20px;}
.form-list .field { float: left; width: 49%; margin-bottom: 5px;}
.form-list .field:after, .form-list .fields:after {display: block;content: ".";  clear: both;  font-size: 0;  line-height: 0;  height: 0; overflow: hidden;}
.form-list li input.input-text {width: 100%;}
.buttons-set { clear: both; margin: 10px 0;}
#add_recipient_button button.button {float: right; margin-left: 5px;margin-bottom: 5px;}
.send-friend .form-list { width:auto;}
#product_sendtofriend_form .fieldset  { float:left; width:50%;}
.form-list li { position:relative;}
.form-list li a.btn-remove { position:absolute; right:0px; cursor:pointer;}
.form-list li a:hover.btn-remove { color:#f1592a}
.fieldset h2 { font-size:22px; font-family:'latoregular'; background:url(../../../images/divider.png) center center repeat-x;}
#add_recipient_button button.button {background: #f1592a;  border: none;  display: inline-block;  padding: 4px 10px; color: #fff;    font-size: 14px;}
.common-back .fieldset p { padding:0px;}
.form-list .field:last-child { float:right;}

#send_mail {background: #e62e04;  border: medium none; color: #fff !important;  font-size: 100%;  font-weight: 400; padding: 10px 20px;
    border-radius: 0;}
h2.legend span { background:#fff; margin-left:20px; padding:2px 5px;}
a.disable-link { pointer-events: none;}
/*.ui-widget-content .ui-state-default { height: 14px; width: 3px; background: #000; outline: none;}*/
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { cursor:pointer;}
.lv_skin > canvas { display:none!important;}

.jl-header { height:196px;}
#top-container { position:fixed; width:100%; z-index:16; background:#f5f5f5;}
.nav-header {-webkit-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-ms-transition: all 300ms linear 0s;transition: all 300ms linear 0s; position:relative; z-index:0;}
.nav-header.jlhide { margin-top:-60px; position:fixed; z-index:-1; right:3px; }
.top-header {-webkit-transition: all 300ms linear 0s;
	-moz-transition: all 300ms linear 0s;
	-ms-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;}
	
.smaller .top-header  {margin-top: -40px;}
.logo-area .main-logo, .logo-area .cart-right { margin-top:0px;}
.smaller .logo-area .main-logo, .smaller .logo-area .cart-right {margin-top: -10px;} 

.advanced-search .form-search  { margin-top:0px;}
.smaller .advanced-search .form-search { margin-top:-10px;}
.nav-header ul.mainnav {border-bottom:0px solid #f5f5f5; -webkit-transition: all 200ms linear 0s;-moz-transition: all 200ms linear 0s;-ms-transition: all 200ms linear 0s;transition: all 200ms linear 0s;}
.nav-header.jlhide ul.mainnav { border-bottom:0px solid #f5f5f5; box-shadow:0 4px 2px -2px #9c9c9c;}
.main-logo img {-webkit-transition: all 300ms linear 0s;
	-moz-transition: all 300ms linear 0s;
	-ms-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;}
	
.logo-area .block-cart, .advanced-search {-webkit-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-ms-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;}
.smaller .main-logo img { max-width:75%;}
.smaller .logo-area .block-cart { margin-top:12px;}
.smaller .advanced-search { margin-top:12px;}
.header {-webkit-transition: all 300ms linear 0s;	-moz-transition: all 300ms linear 0s;	-ms-transition: all 300ms linear 0s;	transition: all 300ms linear 0s; position:relative; z-index:1; background:#f5f5f5;}
.header.smaller {background: #fff; border-bottom: solid 1px #d9d9d9;  font-family: 'latoregular'; padding-bottom:10px;}

div.set_prompt_btn .btn_ok { float:left; width:50%; border-radius: 0px 0px 0px 2px;}
.set_prompt_btn .btn_cancel { float:left; width:50%;}
div.set_prompt_btn .btn_ok a.common-btn, div.set_prompt_btn .btn_cancel a.common-btn  { display:block; font-size:20px; padding:6px 0px;}
h4.test_confirm_message { width:90%; margin:auto;}
