::selection{background-color:#E13300;color:white;}
::moz-selection{background-color:#E13300;color:white;}
::webkit-selection{background-color:#E13300;color:white;}
/*body{font-family:Arial !important;font-size:12px;margin:0 auto;line-height:normal !important;}*/
a{color:#003399;background-color:transparent;font-weight:normal;}
h1{color:#444;background-color:transparent;border-bottom:1px solid #D0D0D0;font-size:19px;font-weight:normal;margin:0 0 14px 0;padding:14px 15px 10px 15px;}
code{font-family:Consolas, Monaco, Courier New, Courier, monospace;font-size:12px;background-color:#f9f9f9;border:1px solid #D0D0D0;color:#002166;display:block;margin:14px 0 14px 0;padding:12px 10px 12px 10px;}
#body{margin:0 15px 0 15px;}
p.footer{text-align:right;font-size:11px;border-top:1px solid #D0D0D0;line-height:32px;padding:0 10px 0 10px;margin:20px 0 0 0;}
#container{margin:10px;border:1px solid #D0D0D0;webkit-box-shadow:0 0 8px #D0D0D0;}
#wrpper{width:100%;}
#top-navigation{width:100%;margin:0 auto;background:url(../images/topnav-bg.gif) repeat-x;}
#top-navigation .content{width:993px;margin:0 auto;}
ul.topnav{margin:0 0 0 7px;padding:0px;}
ul.topnav li{float:left;color:#fff;font-size:13px;background:url(../images/topnav-devider.gif) right 5px no-repeat;list-style:none;text-transform:uppercase;padding:8px 42px;font-family:'ZurichBlkExBTBlack', sans-serif;font-weight:bold;}
ul.topnav li.last{background:none;}
ul.topnav li a{color:#b1b1b1;text-decoration:none;font-size:14px;text-shadow:#000 2px 1px 0;font-family:'ZurichBlkExBTBlack', sans-serif;font-weight:bold;}
ul.topnav li a:hover{color:#fff;text-decoration:none;font-size:14px;font-family:'ZurichBlkExBTBlack', sans-serif;font-weight:bold;}
ul.topnav li a.active{color:#fff;text-decoration:none;font-size:14px;font-family:'ZurichBlkExBTBlack', sans-serif;font-weight:bold;}
ul.topnav-menu{margin:0 0 0 7px;padding:0px;}
ul.topnav-menu li{float:left;color:#fff;font-size:13px;background:url(../images/topnav-devider.gif) right 5px no-repeat;list-style:none;text-transform:uppercase;padding:8px 26px;font-family:'ZurichBlkExBTBlack', sans-serif;font-weight:bold;}
ul.topnav-menu li.last{background:none;}
ul.topnav-menu li a{color:#b1b1b1;text-decoration:none;font-size:14px;text-shadow:#000 2px 1px 0;font-family:'ZurichBlkExBTBlack', sans-serif;font-weight:bold;}
ul.topnav-menu li a:hover{color:#fff;text-decoration:none;font-size:14px;font-family:'ZurichBlkExBTBlack', sans-serif;font-weight:bold;}
ul.topnav-menu li a.active{color:#fff;text-decoration:none;font-size:14px;font-family:'ZurichBlkExBTBlack', sans-serif;font-weight:bold;}
#banner{width:920px;margin:auto;}
#banner .content{width:920px;padding:26px 0 0 73px;margin:0 auto;}
#banner .small-logo{width:920px;padding:15px 0 0 0px;}
/*a.logo{background:url(../images/logo.png) no-repeat;width:579px;height:108px;display:block;z-index:-1000px;}*/
.welcome{background:url(../images/welcome.png) no-repeat;width:399px;height:128px;display:block;margin:40px 0 0 0;}
a.btn-play{margin:0 0 0 154px;}
#container{width:100%;}
#container .content{width:993px;margin:280px auto 0 auto;}
.left-part{width:440px;color:#dad0ca;font-size:14px;line-height:21px;margin:0 0 0 125px;}
.left-part span{color:#fec30e;font-size:23px;padding:10px 0 0 0;display:block;}
.rightpart{background:url(../images/right-box.png) no-repeat;width:294px;height:162px;padding:20px 26px 26px 26px;margin-right:35px;}
.rightpart p{padding:15px 0 0 0;line-height:19px;font-size:14px;}
#footer{width:100%;}
#footer .content{width:993px;margin:0 auto;text-align:center;color:#646464;padding:10px 0 10px 0;}
#footer .content span{display:block;color:#3f3f3f;padding:10px 0 0 0;}
#footer .content a{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif, Arial, Helvetica, sans-serif;color:#646464;text-decoration:none;padding:0 7px;}
#footer .content a:hover{text-decoration:none;color:#fff;}
#footer .content a.active{text-decoration:none;color:#fff;}
.inner-logo{background:url(../images/small-logo.png) no-repeat;width:461px;height:86px;display:block;margin-bottom:5px;}
#container .inner-container{width:993px;margin-top:6px;margin:auto;}
.inner-midd-bg{background:url(../images/top-midd-bg.png) no-repeat;width:908px;padding:40px 40px 25px 45px;float:left;}
.inner-midd-bg-1{background:url(../images/top-midd-bg.png) no-repeat;width:903px;padding:40px 35px 15px 50px;float:left;}
#inner-width{margin:auto;width:993px;}
.bottom-cor{background:url(../images/bottom-cor.png) no-repeat;height:42px;width:993px;}
.inner-left-part{float:left;width:675px;margin-right:10px;text-align:justify;}
.inner-right-part{float:left;width:223px;}
.PT{padding-top:70px;}
.multiselect{width:460px;height:200px;}
div.err{padding-left: 0px!important; padding:3px 4px 3px 4px;color:#c93605;font-weight:500;/*text-shadow:0px 1px 1px rgba(164, 44, 4, 0.20);*/moz-text-shadow:0px 1px 1px rgba(164, 44, 4, 0.20);webkit-text-shadow:0px 1px 1px rgba(164, 44, 4, 0.20);font-size:13px;}
form input.err{border:1px solid #ED7A53 !important;}
form input.valid{border:1px solid #9FC569 !important;}
.header-bg{background:rgb(244,244,244);background:-moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(204,204,204,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(204,204,204,1)));background:-webkit-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(204,204,204,1) 100%);background:-o-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(204,204,204,1) 100%);background:-ms-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(204,204,204,1) 100%);background:linear-gradient(to bottom, rgba(244,244,244,1) 0%,rgba(204,204,204,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#cccccc',GradientType=0 );display:block;overflow:hidden;border:1px solid #ccc;}
.logo-text{font-size:32px;color:#333;padding:15px 25px;display:inline-block;text-shadow:2px 2px 2px #fff;line-height:30px;}
.login-detail{float:right;padding-top:21px;padding-right:15px;}
.login-detail a{color:#333;text-decoration:none;font-size:14px;}
.login-detail a:hover{color:#0088CC;text-decoration:none;}
.form,.cont-text{display:block;overflow:hidden;padding:10px 25px;font-size:12px;font-family:Arial, Helvetica, sans-serif;line-height:18px;}
pre{font-family:Arial, Helvetica, sans-serif;}
.copyright{display:block;overflow:hidden;padding:15px;text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:10px;}
#wrapper{margin:0 auto;width:960px;}
input, button, select, textarea{font-family:Arial, Helvetica, sans-serif !important;}
#forgot_password{margin-left:15px;}
h4{color:#0088CC !important;}
.arrow-left{width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:10px solid blue;}
.alert{background-color:#FCF8E3;border:1px solid #FBEED5;border-radius:4px 4px 4px 4px;color:#C09853;margin-bottom:20px;padding:8px 35px 8px 14px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
.alert h4{margin:0;}
.alert .close{line-height:20px;position:relative;right:-21px;top:-2px;}
.alert-success{color:#468847;background-color:#dff0d8;border-color:#d6e9c6;}
.alert-danger,
.alert-error{color:#b94a48;background-color:#f2dede;border-color:#eed3d7;}
.alert-info{background-color:#D9EDF7;border-color:#BCE8F1;color:#3A87AD;}
.alert-block{padding-bottom:14px;padding-top:14px;}
.alert-block > p, .alert-block > ul{margin-bottom:0;}
.alert-block p + p{margin-top:5px;}
.errorbox{background:url(../../../images/errormsg-box.gif) repeat-x;text-align:center;width:400px;color:#a2160b;padding-top:20px;padding-bottom:5px;padding-left:30px;padding-right:30px;}
.errorbox-position{position:fixed;width:100%;margin:auto;z-index:50;}
.closebtn-errorbox{position:absolute;top:15px;right:12px;z-index:10000;}
.content-errorbox{padding:13px 35px 13px 14px!important;position:absolute;text-align:center;top:0;width:100%;z-index:1000;}
button.close{background:none repeat scroll 0 0 transparent;border:0 none;cursor:pointer;padding:0;}
.chart-pivot-height{height:230px;}
.list-pivot-height{width:99.75%;}
.admin-logo-top{width:178px;height:55px;}
.navbar-brand{font-size: 28px;}

/*position: absolute;bottom: 0;width: 100%;*/
@media (min-width: 768px) {
#midd-container{min-height:350px;}
}	
@media (min-width: 992px) {
#midd-container{min-height:400px;}
}
@media (min-width: 1024px) {
#midd-container{min-height:450px;}
}
/*dhananjay*/
.customeoverlay {    height: 100%;    width: 100%;    z-index: 3;    background: rgba(255, 255, 255, 0.7);    position:fixed;
    top:0;left:0;    z-index: 25522500;}
.customeoverlay > i{    color: #F1592A;    font-size: 26px;        }
/***
FuelUX Spinners
***/
.spinner-buttons.btn-group-vertical .btn {
  text-align: center;
  margin: 0;
  height: 17px;
  width: 22px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 0px;
}
.page-style-rounded .spinner-buttons.btn-group-vertical .btn.spinner-up {
  border-radius: 0;
  border-top-right-radius: 4px !important;
}
.page-style-rounded .spinner-buttons.btn-group-vertical .btn.spinner-down {
  border-radius: 0;
  border-bottom-right-radius: 4px;
}
/*dhananjay*/