body{background:none!important;}
.form-row .form-label {padding-left:19px;}
#delivery_area h3.heading {
    background: #333333!important;
    height: auto;
    padding: 18px 20px;color: #fff;
    border-top-left-radius: 8px!important;
    border-top-right-radius: 8px!important;
    border-bottom:0px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

#delivery_area form {
    float: none;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    border: 5px solid #333;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing: border-box;
    position:relative;
    top:6px;
}
.form-row {padding:35px 0px;}
.form_input.submit {padding-bottom:30px;}
#delivery_area input[type="text"] {border: 1px solid #e4e4e4;}


.form_input input[type="button"]{
    background: #333333;
    border: 1px solid #797979;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #F2F2F2;
    padding: 10px 20px;}