@font-face {
font-family: 'Trebuchet MS';
font-style: normal;
font-weight: normal;
src: local('Trebuchet MS'), url('trebuc.woff') format('woff');
}
body {font-family:'Trebuchet MS'!important;font-size:13px;}
.fleft {float:left;}
.fright {float:right;}
.clear {clear:both;}
.form_input span input:focus, .form_input span textarea:focus, .form_input input[type="submit"]:focus {outline:1px solid #e4e4e4;}



h1.invoice_heading {font-size:28px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px;}
.seller {margin-right:15px;}
.seller, .buyer {width:310px;}
.address, .phone, .gts, .invoice_date, .invoice_number  {margin-bottom:20px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;}
.address span, .phone span, .gts span, .invoice_date span, .invoice_number span {font-weight:bold;}
.name {margin-bottom:20px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;font-size:13px;}
.product_detail h2 {margin-bottom:20px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;font-size:15px;}
.main {margin-bottom:20px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;font-weight:bold;}
.product_table {border:1px solid #c9c9c9;}
.product_table table th {font-weight:normal;font-style:normal;text-decoration:none;color:#333333;font-weight:bold;    padding-top: 8px;padding-left: 4px;padding-bottom:8px;}
.product_table table tr.bg_tr {background:#e4e4e4;}
.product_table table td {padding-bottom:10px;padding-top: 8px;padding-left: 4px;}
.prise h2 {font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;}
.query h2 {font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;}


/*----------------------------------------ISSUE REFUND---------------------------------------------*/
.main_area {max-width:749px;background:#333333;padding:5px;margin:0 auto;border-radius:8px;}
h3.heading {color:#fff;font-size:14px;font-weight:bold;font-style:normal;text-decoration:none;margin:18px 20px;}
.title_issue_refund {color:#666666;font-weight:bold;font-size:16px;margin-bottom:30px;}
.issue_form {background:#fff;border-bottom-left-radius:4px;border-bottom-right-radius:4px;padding:21px;}
.form_input {margin-bottom:10px;}
.form_input label {width:219px;line-height:36px;color:#666666;font-weight:normal;}
.form_input span {width:419px;display:block;}
.form_input span .pre_define {margin-top:10px;}
.form_input span input {width:100%;border:1px solid #e4e4e4;padding:10px;border-radius:4px;}
.form_input span textarea {width:100%;border:1px solid #e4e4e4;padding:10px;border-radius:4px;}
.form_input.submit {text-align:center;margin-top:42px;}
.form_input input[type="submit"] {background:#333333;border:1px solid #797979;border-radius:4px;color:#fff;font-size:14px;font-weight:bold;font-style:normal;text-decoration:none;color:#F2F2F2;padding:10px 20px;}