<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Welcome</div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <h3 class="title">Welcome to the <%$this->config->item('COMPANY_NAME')%></h3>
            Welcome Guest,
            
        </div>
    </div>
</div>

