    <%if $page_code neq 'sellerzone'%>
    <div class="container">
    <%else%>
    <div class="">
    <%/if%>
    <div class="row-fluid">    
        <%if $display_lang eq 'en'%>
        <%include file="static/`$page_code`.tpl"%>
        <%else%>
        <%$page_content%>
        <%/if%>
    </div>
</div>
