h1{color:#d45d57;font-size:30px;}
h2{color:#01bce5;font-size:28px;}
h3{color:#5c8601;font-size:24px;}
h4{color:#e58201;font-size:22px;}
h5{color:#417188;font-size:20px;}
h6{color:#8c73ab;font-size:18px;}
p{color:#5d5d5d;font-size:15px;line-height:22px;margin:15px 0;}
a{color:#0099bb;outline:none;text-decoration:none;}
a:hover{color:#d45d57;}
.red{color:#d45d57 !important;}
.blue{color:#0099bb !important;}
.black{color:#000 !important;}
.row{margin:30px 0;}
blockquote{background:#f6f8f9;border-left:7px solid #01bce5;padding:15px;}
table{border:1px solid #e8edf0;border-top:none;}
tr.heading{background:#7c838b;}
table.blue tr.heading{background:#27c6e9;}
tr.odd{background:#f6f8f9;}
td{border-bottom:1px solid #e8edf0;border-left:1px solid #e8edf0;color:#6f7b81;font-size:14px;padding:10px 0;}
tr td:first-child{border-left:none;}
table tr:last-child td{border-bottom:none;}
tr.heading td{border:none;color:#fff;font-weight:bold;line-height:40px;padding:0;text-align:center;}
.red_button, .blue_button{background:#d45d57;color:#fff;font-size:16px;font-weight:bold;}
.blue_button{background:#01bce5;}
.red_button.big, .blue_button.big{padding:20px 40px;}
.red_button.mid, .blue_button.mid{padding:20px 25px;}
.red_button.small, .blue_button.small{font-size:14px;padding:14px 10px;}
.misc{background:#f6f8f9;border:1px solid #d9e3e9;padding:25px 30px;}