body{background:#dfdfdf;color:#5c5c5c;font-family:Arial, Helvetica, sans-serif;margin:0px;padding:0px;}
h1, h2, h3, h4, h5, h6{margin:0;}
a img{border:0;}
ul{list-style:none;margin:0px;padding:0px;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.wapper{background:#fff;border:2px solid #cdcdcd;margin:0 auto;width:800px;position:relative;}
#content{margin:25px 70px;}
#content h1{color:#e62c2d;font-size:30px;font-weight:lighter;margin-bottom:15px;margin-left:-40px;}
#content h2{color:#00bae3;font-size:18px;font-weight:bold;margin:25px 0 5px 0;}
#content p{color:#000;font-size:14px;line-height:30px;margin:0;}
#header{background:#fff;border-bottom:1px solid #e2e2e2;overflow:hidden;padding:25px 70px;}
#header .left a{display:inline-block;margin:15px 0;}
#header .right p{color:#e62c2d;font-size:25px;font-weight:bold;line-height:28px;text-align:right;text-transform:uppercase;}
#header .right p span{color:#51ad00;font-size:18px;font-weight:normal;text-transform:none;}
#footer{background:#efefef;margin-top:20px;padding:40px 50px;}
#footer a{background:#52ae00;color:#fff;font-size:20px;font-weight:bold;padding:10px 20px;text-transform:uppercase;}
#footer input{background:#52ae00;color:#fff;font-size:20px;font-weight:bold;padding:10px 20px;text-transform:uppercase;border:none;cursor: pointer}
#footer a.disable, #footer a.disable:hover{background:#939393;cursor:default;}
#footer input:hover{background:#01BBE4;}
#footer a:hover{background:#01BBE4;}
.smallbutton{background:#52ae00;border:none;color:#fff;cursor:pointer;font-size:20px;font-weight:bold;margin:-9px;padding:10px 20px;text-transform:uppercase;}
.smallbutton:hover{background:#01BBE4;}
.smallbutton.recheck{float:right;margin-left:20px;}
.step_nav{border-bottom:1px solid #dfdfdf;padding:30px 50px;}
.step_nav ul{background:url(../images/step_bg.png) left 25px repeat-x;float:left;width:100%;}
.step_nav ul li{float:left;text-align:center;width:20%;}
.step_nav ul li:first-child{background:url(../images/white_sep.png) left 25px no-repeat;}
.step_nav ul li:last-child{background:url(../images/white_sep.png) right 25px no-repeat;}
.step_nav ul li span{background:url(../images/set_icon.png) no-repeat;background-position:-108px 0;display:inline-block;height:52px;width:52px;}
.step_nav ul li p{color:#4b4b4b;font-size:12px;line-height:16px;margin:20px 0 0 0;}
.step_nav ul li p b{color:#00bae3;font-size:16px;line-height:20px;}
.step_nav ul li.sucess span{background-position:0 0;}
.step_nav ul li.sucess p, .step_nav ul li.sucess p b{color:#868686;}
.step_nav ul li.active span{background-position:-54px 0;}
.step_nav ul li.active p{color:#27333d;}
.step_nav ul li.active p b{color:#e62c2d;}
#content .server_confi{margin:50px 0;}
#content .server_confi div{font-size:14px;line-height:18px;margin-bottom:20px;}
#content .server_confi div b, #content .server_confi div img, #content .server_confi div span{display:inline-block;vertical-align:middle;}
#content .server_confi div b{color:#000;font-weight:600;text-align:right;width:28%;}
#content .server_confi div img{margin:0 15px;}
#content .server_confi div span{color:#52ae00;width:62%;}
#content .server_confi div.error span{color:#e62c2d;}
#content .server_confi div.alert span{color:#ffae01;}
#content .database_info{margin:50px 0;}
#content .database_info div{margin-bottom:20px;position:relative;}
#content .database_info div label{color:#000;display:inline-block;font-size:14px;font-weight:bold;margin-right:2%;text-align:right;width:30%;}
#content .database_info div input{border:1px solid #d2d2d2;border-radius:3px;color:#999;display:inline-block;font-size:16px;moz-border-radius:3px;padding:15px 10px;webkit-border-radius:3px;width:50%;}
#content .database_info div input.required{border:1px solid #e62c2d;box-shadow:#e62c2d;box-shadow:0px 0px 5px 0px rgba(230, 44, 45, 0.75);color:#e62c2d;moz-box-shadow:0px 0px 5px 0px rgba(230, 44, 45, 0.75);webkit-box-shadow:0px 0px 5px 0px rgba(230, 44, 45, 0.75);}
#content .database_info div p{color:#6a6a6a;font-size:11px;line-height:13px;margin:5px 0 15px 33%;}
#content .database_info div p.imp{color:#e62c2d;}
#content .database_info div p.imp b{font-size:12px;}
#content .database_info .frmerrormessage{padding-left:32%;}
#content .database_info label span.required{color:#e62c2d;}
#content .database_info div label.error{color:#e62c2d;margin-right:0;text-align:left;width:100%;}
#content .intstall{margin:50px 0;text-align:center;}
#content .intstall p{font-size:16px;}
#content .intstall .info{border:1px solid #dfdfdf;border-radius:5px;moz-border-radius:5px;webkit-border-radius:5px;width:670px;}
#content .intstall .info:last-child div{border:none;}
#content .intstall .info div span{background:#f3f3f3;border-bottom:1px solid #dfdfdf;color:#727272;float:left;font-size:12px;font-weight:bold;line-height:50px;padding-right:2%;text-align:right;width:28%;}
#content .intstall .info div b{border-bottom:1px solid #dfdfdf;color:#000;float:left;font-size:18px;font-weight:lighter;line-height:50px;padding-left:2%;text-align:left;width:68%;}
#content .congrats{margin:50px 0;}
#content .congrats h1{font-weight:bold;}
#content .congrats .content{margin:0 auto;width:700px;}
#content .congrats .content .right{margin:28px 34% 0 0;}
#content .congrats .content p{color:#000;font-size:12px;line-height:14px;margin:0;}
#content .congrats .site_info{border:1px solid #dfdfdf;border-radius:5px;line-height:50px;margin:50px 0;moz-border-radius:5px;text-align:center;webkit-border-radius:5px;}
#content .congrats .site_info div{border-bottom:1px solid #dfdfdf;color:#000;font-size:24px;}
#content .congrats .site_info span{color:#52ae00;display:inline-block;width:49%;}
#content .congrats .site_info span.first{border-right:1px solid #dfdfdf;}
.arrow-left{border-bottom:10px solid transparent;border-right:10px solid blue;border-top:10px solid transparent;height:0;width:0;}
.alert{background-color:#FCF8E3;border:1px solid #FBEED5;border-radius:4px 4px 4px 4px;color:#C09853;margin-bottom:20px;padding:8px 35px 8px 14px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
.alert h4{margin:0;}
.alert .close{line-height:20px;position:relative;right:-21px;top:-2px;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
.alert-danger,
.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#FF3108;}
.alert-info{background-color:#D9EDF7;border-color:#BCE8F1;color:#3A87AD;}
.alert-block{padding-bottom:14px;padding-top:14px;}
.alert-block > p, .alert-block > ul{margin-bottom:0;}
.alert-block p + p{margin-top:5px;}
.errorbox{background:url(../../../images/errormsg-box.gif) repeat-x;color:#a2160b;padding-bottom:5px;padding-left:30px;padding-right:30px;padding-top:20px;text-align:center;width:400px;}
.errorbox-position{margin:auto;position:fixed;width:100%;z-index:50;}
.closebtn-errorbox{position:absolute;right:12px;top:15px;z-index:10000;}
.content-errorbox{padding:13px 35px 13px 14px!important;position:absolute;text-align:center;top:0;width:100%;z-index:1000;}
.ajax_qLoverlay{background:url(../images/3-1.png) repeat;display:none;filter:alpha(opacity=90);height:67%;left:0;margin:0;opacity:0.9;position:absolute;width:100%;z-index:10000;top:33%;}
.ajax_qLbar{background:url(../images/loader.gif) no-repeat;display:none;height:180px;left:47.5%;position:absolute;top:40%;width:180px;z-index:667999;}
.ajax_qLbarText{display:none;height:auto;left:38%;position:absolute;top:49%;width:auto;z-index:667999;}
.flashrecmessage{clear:both;left:0;margin:0 0;top:110px;width:100%;z-index:1000;}
.flashmessageclose{cursor:pointer;float:right;margin-top:3px;}
.flasherrnorec-green{background:#EDFCEA;border:1px solid #c9e4c4;color:#418735;font-size:15px;line-height:36px;padding:0;text-align:center;}
.flasherrnorec-red{background:#FBE5E1;border:1px solid #FBE5E1;color:#EA2100;font-size:15px;line-height:36px;padding:0;text-align:center;}
.norecord{border:1px solid #EED3BD;color:#c00;font-size:14px;line-height:36px;line-height:4px;padding-bottom:15px;padding-top:15px;text-align:center;}