.top-menu > ul{padding:0;margin:0;list-style:none;height:60px;z-index:500;}
.top-menu ul li.top{display:block;float:left;border-left:1px solid #c4c4c4;border-top:1px solid #c4c4c4;}
.top-menu ul li a.top_link{display:block;float:left;height:58px;line-height:58px;color:#6d6d6d;text-decoration:none;font-size:12px;font-weight:bold;cursor:pointer;background:#f5f5f5;}
.top-menu ul li a.top_link span{float:left;display:block;padding:0 24px 0 12px;}
.top-menu ul li a.top_link span.down{float:left;display:block;padding:0 4px 0 4px;}
.top-menu ul li a.top_link:hover, .top-menu ul li:hover > a.top_link{color:#3399cc;}
.top-menu ul li:hover{position:relative;z-index:200;color:#3399cc;}
.top-menu ul ul,.top-menu ul li:hover ul ul,.top-menu ul li:hover ul li:hover ul ul,.top-menu ul li:hover ul li:hover ul li:hover ul ul, .top-menu ul li:hover ul li:hover ul li:hover ul li:hover ul ul{position:absolute;left:-9999px;top:-9999px;width:0;height:0;margin:0;padding:0;list-style:none;}
.top-menu ul li:hover ul.sub{left:0;top:58px;background:#0f0f0f;border:1px solid #c4c4c4;white-space:nowrap;width:175px;height:auto;z-index:300;}
.top-menu ul li:hover ul.sub li{display:block;position:relative;font-weight:normal;border-bottom:1px solid #c4c4c4;margin-bottom:0;}
.top-menu ul li:hover ul.sub li:last-child{border-bottom:0px;}
.top-menu ul li:hover ul.sub li a{display:block;font-size:11px;line-height:20px;color:#000;text-decoration:none;padding:4px 10px;overflow:hidden;text-overflow:ellipsis;}
.top-menu ul li ul.sub li a{background:#f5f5f5;color:#686868 !important;}
.top-menu ul li:hover ul.sub li a:hover{color:#3399cc !important;background:-moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));background:-webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);background:-o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);background:-ms-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);background:linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);}
.top-menu ul li:hover ul li:hover ul,.top-menu ul li:hover ul li:hover ul li:hover ul,.top-menu ul li:hover ul li:hover ul li:hover ul li:hover ul,.top-menu ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul{left:90px;top:-4px;padding:3px;border:1px solid #c4c4c4;white-space:nowrap;width:90px;z-index:400;height:auto;}
.top-navigation-bar{top:0px;right:0px;z-index:1000;position:fixed;}
.top-menu ul li:hover ul.sub li a:hover i,.top-menu ul li:hover a.top_link i{}
.top-menu ul li ul.sub li a{font-size:13px!important;}
.top-menu ul li a.top_link:hover{background:#EBEBEB ;}
.top-menu ul li:hover > a.top_link{background:#EBEBEB ;}
.top-menu ul li:hover ul.sub{border:1px solid #d9d9d9;border-top:1px solid #C9C9C9;}
.top-menu ul li:hover ul.sub li a:hover{background:#d9d9d9;}
.top-menu ul li:hover ul.sub li:hover a{background:#fefefe;}
.top-menu ul li:hover ul li i{color:#353535;}
ul.vertical-dropdown-menu{width:175px!important;float:right;}
.vertical-dropdown-menu .top{clear:both!important;float:right;width:175px;margin-top:0px;margin-bottom:0px;border-right:1px solid #c4c4c4;}
.vertical-dropdown-menu li:hover ul.sub{left:-157px!important;top:-1px!important;width:88%!important;}
.vertical-dropdown-menu li a .icomoon-icon-arrow-down-2{float:right!important;}
.vertical-dropdown-menu a{width:100%!important;}
.vertical-dropdown-menu li:hover ul.sub li a{padding:4px 0px!important;}
.vertical-dropdown-menu li:last-child{border-bottom:1px solid #c4c4c4;}
.show-more-menus .minia-icon-list-3{margin-left:10px!important;}
.show-more-menus .icomoon-icon-arrow-down-2{margin-left:-2px!important;}
.top-menu ul li:hover ul.sub.menu-double-rows{width:400px; right:0; left:inherit;}
.top-menu ul li:hover ul.submenu-double-rows li{width:50%; display:inline; float:left;}
.top-menu ul li:hover ul.sub.menu-triple-rows{width:600px; right:0; left:inherit;}
.top-menu ul li:hover ul.sub.menu-triple-rows li{width:33.3%; display:inline; float:left;}