
body {background:none!important;}
h3 {
	background: #333333!important;
	height: auto;
	padding: 18px 20px;
	color: #fff!important;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-sizing: border-box;
	width:99%;
	margin-left:5px;
	line-height:normal!important;
}
.heading {border:none!important;}

form {
	float: none;
	width: 99%;
	background: #fff;
	margin: 0 auto;
	border: 5px solid #333;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-sizing: border-box;
	border-top:0px;
}

#delivery_area input[type="text"] {border: 1px solid #e4e4e4;}

.frm-block-layout .box.gradient .title {background:none;border-color:transparent;}
.box .content {border:none;}
.chosen-container-single a.chosen-single, textarea, input[type="text"] {border-color: #e4e4e4;}
.ajax-content-div {margin-bottom:0px;}